<div class="scrollable">
    <div class="scrollable-content mybankcard">
    	<ul class="list-group">
    		<p class="hs-padding-top-10 hs-padding-left-10 text-success font-size-12 banktip" ng-hide="currentTip">解绑操作将在2个自然日内自动完成，期间不影响您提现、充值等操作。<span class="icon icon-sm icon-gray-close icon-vertical" ng-click="currentTip=true"></span></p>
    		<p class="hs-padding-left-10 text-success font-size-12" ng-class="{'hs-padding-top-10':currentTip}">已绑定银行卡(目前仅支持绑定一张)</p>
    		<li class="list-group-item">
		        <span class="icon-group">
		        	<span class="icon icon-horizontal icon-md icon-circle icon-bank-{{accountInfo.bankCard.bankCode.toLowerCase()}}" style=""></span>
		        	<span class="icon-txt text-left text-muted">{{accountInfo.bankCard.bankName}}<small class="text-info" style="display: block;" ng-bind="accountInfo.bankCard.cardNo"></small></span>
		        </span>
				<span class="pull-right text-success unbundling" ui-turn-on="mybankcardtip" ng-if="accountInfo.bankCard.status!='UNBIND'">解绑</span>
				<span class="pull-right text-success unbundling" ng-if="accountInfo.bankCard.status=='UNBIND'" ng-bind="accountInfo.bankCard.statusName">解绑</span>
			</li>
			<p class="hs-padding-top-10 hs-padding-left-10 text-success font-size-12">限额：5万/笔，100万/日</p>
    	</ul>
	</div>
</div>
<div ui-yield-to="modals">
	<div class="modal mybankcardtip" ui-if="mybankcardtip" ui-state="mybankcardtip" ui-default="false">
		<div class="modal-backdrop in"></div>
		<div class="modal-dialog">
			<div class="modal-content">
				<h4 class="modal-title text-info font-size-16 text-center hs-padding-top-10 hs-padding-bottom-10"><b>温馨提示</b></h4>
				<p class="text-success text-center hs-padding-bottom-10">您确定要解绑这张银行卡吗？</p>
				<div class="container">
					<div class="row">
						<div class="col-xs-6 text-center">
							<button ui-turn-off="mybankcardtip" class="btn text-warning">取消</button>
						</div>
						<div class="col-xs-6 text-center">
							<a class="btn text-warning" ui-turn-off="mybankcardtip" ng-click="unboundlingCard()">确定</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ui-yield-to="modals">
	<div class="modal mybankcardtip" ui-if="mybankcardtip02" ui-state="mybankcardtip02" ui-default="false">
		<div class="modal-backdrop in"></div>
		<div class="modal-dialog">
			<div class="modal-content">
				<h4 class="modal-title text-info font-size-16 text-center hs-padding-top-10 hs-padding-bottom-10"><b>解绑申请成功</b></h4>
				<p class="text-success text-center hs-padding-bottom-10">解绑操作将在2个自然日内自动完成<br>如有疑问，请联系客服</p>
				<div class="container">
					<div class="row">
						<div class="col-xs-6 text-center">
							<button ui-turn-off="mybankcardtip02" class="btn text-warning">取消</button>
						</div>
						<div class="col-xs-6 text-center">
							<a class="btn text-warning" ui-turn-off="mybankcardtip02">确定</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ui-content-for="navbarAction">
    <span class="navbarRight" ui-sref="yeepay.range"><span class="icon icon-vertical icon-exclamation-white-top"></span></span>
</div>
