<div class="scrollable">
    <div class="scrollable-content related-documents">
        <div class="container">
            <div class="row thumbnailimg hs-margin-top-10" ng-repeat="img in imgArray">
                <div class="col-xs-12">
                    <img src="" ng-src="{{img}}"/>
                    <span class="icon icon-magnifier" ng-click="viewBigImg($index);"></span>
                </div>
            </div>
        </div>
        <div class="empty" ng-if="!imgArray || imgArray.length==0">
            <span class="icon-group">
                <i class="icon icon-default icon-folder icon-vertical icon-x-lg"></i>
                <i class="icon-txt text-success">该项目暂无相关文件</i>
            </span>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal hs-popup document-pop" ui-turn-off="hspopup" ui-if='hspopup' ui-state='hspopup' ui-default="false">
        <div class="modal-backdrop in">
            <div preview="imgArray" default="index"></div>
        </div>
    </div>
</div>