<div class="scrollable invest-detail">
	<div class="scrollable-content">
		<ul class="list-group menu">
			<li class="list-group-item invest-detail-header">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<span class="icon-group">
								<i class="icon icon-hs-1 icon-horizontal icon-md icon-project-{{project.projectType}}"></i>
								<i class="icon-txt" ng-bind="project.activityRemark"></i>
							</span>
						</div>
						
					</div>
				</div>
				<span class="invest-detail-label icon-xinshoutype" ng-if="project.isNewUser == '0'"></span>
			</li>
			<li class="list-group-item invest-detail-data invest-project-column">
    			<div  class="container">
    				<div class="row">
    					<div class="col-xs-12 hs-padding-right-0 text-center">
    						<p class="icon-group">
    							<span class="icon icon-annualized-return-rate icon-horizontal icon-sm hs-margin-top-5"></span>
    							<span class="icon-txt">年化收益率</span>
    						</p>
    						<dl>
							  <dt ng-if="project.annualizedRateAdd>0"><small>{{project.annualizedRateNormal * 100 | number:1}}%+{{project.annualizedRateAdd *100 | number:1}}%</small></dt>
							  <dt ng-if="project.annualizedRateAdd==0"><small>{{project.annualizedRateNormal * 100 | number:1}}%</small></dt>
							</dl>
						</div>
    				</div>
    			</div>
    			<div  class="container">
    				<div class="row">
    					<div class="col-xs-12 hs-padding-right-0 text-center">
    						<p class="icon-group">
    							<span class="icon icon-residual-term icon-horizontal icon-sm hs-margin-top-5"></span>
    							<span class="icon-txt">项目期限</span>
    						</p>
    						<dl>
							 <dt>{{project.projectDuration}} <small>个月</small></dt>
							</dl>
						</div>
    				</div>
    			</div>

				<span class="hslabel show" ng-class="{'invest-detail-full':project.status == 4, 'invest-detail-loading':project.status == 5,'invest-detail-finished':project.status == 6 || project.status == 7}"></span>
			</li>
			<li class="list-group-item transparent-bg">
				<div class="container">
					<div class="row hs-margin-bottom-10">
						<div class="col-xs-10" ng-if="!(project.status == 4 || project.status == 5 || project.status == 6 || project.status == 7)">
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{project.rate}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.rate}}%;"></div>
							</div>
						</div>
						<div class="col-xs-12" ng-if="project.status == 4 || project.status == 5 || project.status == 6 || project.status == 7">
							<div class="progress">
								<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{project.rate}}" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
							</div>
						</div>
						<div class="col-xs-2 text-right hs-padding-left-0" ng-if="project.status == 3">
							<span class="progress-tip"><span ng-bind="project.rate"></span>%</span>
						</div>
					</div>
					<div class="row progress-detail">
						<div class="col-xs-6">
							<dl class="dl-horizontal">
								<dt>融资金额：</dt>
								<dd ng-if="project.planAmount >= 10000">{{project.planAmount/10000 | number:2}}万元</dd>
								<dd ng-if="project.planAmount < 10000">{{project.planAmount}}元</dd>
							</dl>
						</div>
						<div class="col-xs-6" ng-if="project.status == 3">
							<dl class="dl-horizontal pull-right">
								<dt>可投金额：</dt>
								<dd ng-if="project.planAmount >= 10000">{{project.amount/10000 | number:2}}万元</dd>
								<dd ng-if="project.planAmount < 10000">{{project.amount}}元</dd>
							</dl>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="container">
					<div class="row">
						<div class="col-xs-4 hs-padding-right-0">
							<dl class="text-center">
								<dt class="text-muted hs-margin-bottom-2">还款方式</dt>
								<dd class="text-info font-size-12" ng-bind="project.repaymentModeName"></dd>
							</dl>
						</div>
						<div class="col-xs-4">
							<dl class="text-center">
								<dt class="text-muted hs-margin-bottom-2">起投金额</dt>
								<dd class="text-info font-size-12">{{project.startingAmount}}元</dd>
							</dl>
						</div>
						<div class="col-xs-4 hs-padding-left-0">
							<dl class="text-center">
								<dt class="text-muted hs-margin-bottom-2">投标截止日期</dt>
								<dd class="text-info font-size-12" ng-bind="project.biddingDeadline"></dd>
							</dl>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul class="list-group menu">
			<li class="list-group-item" ui-sref="invest.item.projectMore({projectId:project.projectId})">
				<span>更多详情</span>
				<i class="menuarrow menuarrow-right pull-right"></i>
			</li>
			<li class="list-group-item" ui-sref="invest.item.projectPlan({projectId:project.projectId})">
				<span>还款计划</span>
				<i class="menuarrow menuarrow-right pull-right"></i>
				<span class="menu-text-right pull-right"></span>
			</li>
			<li class="list-group-item" ui-sref="invest.item.projectRiskInfo()">
				<span>风控信息</span>
				<i class="menuarrow menuarrow-right pull-right"></i>
			</li>
			<li class="list-group-item" ui-sref="invest.item.projectInvestor({projectId:project.projectId})">
				<span>投资列表</span>
				<i class="menuarrow menuarrow-right pull-right"></i>
				<span class="menu-text-right pull-right"><span ng-bind="project.investmentCount"></span>人</span>
			</li>
		</ul>
		<!-- <p class="text-center text-success footer">
		    <span class="icon-group">
			    <i class="icon icon-shield icon-horizontal icon-x-sm"></i>
			    <i class="icon-txt">账户资金由易宝支付托管，安全可靠</i>
			</span>
		</p> -->
	</div>
	<div class="container scrollable-footer">
		<div class="row hs-margin-bottom-10">
			<!-- <div class="col-xs-2 hs-padding-right-0" ng-if="project.status != 3 || !canInvestNewUserProject">
				<span class="icon icon-vertical icon-calculator disabled">0</span>
			</div>
			<div class="col-xs-2 hs-padding-right-0" ui-turn-on="investcalculator" ng-if="project.status == 3 && canInvestNewUserProject">
				<a class="icon icon-vertical icon-calculator">0</a>
			</div> --><!-- 根据2015.11.13的设计图作出修改，此部分隐藏 -->
			<div class="col-xs-12" ng-if="project.terminalCodes.indexOf('3')!=-1">
				<a class="btn btn-danger btn-lg" ng-class="{'disabled': (project.status != 3 || !canInvestNewUserProject || project.amount == 0)}" ng-if="accountInfo.hasOpenThirdAccount == '1'" ui-turn-on="investcalculator" ng-bind="(project.status == 3 && project.amount > 0) ? (canInvestNewUserProject ? '立即投资' : '仅限新手投资') : '已结束'">立即投资</a>
				<a class="btn btn-danger btn-lg" ng-class="{'disabled': (project.status != 3 || !canInvestNewUserProject || project.amount == 0)}" ng-if="accountInfo.hasOpenThirdAccount != '1'" ui-sref="yeepay.register({mobile:accountInfo.mobile})" ng-bind="(project.status == 3 && project.amount > 0) ? (canInvestNewUserProject ? '立即投资' : '仅限新手投资') : '已结束'">立即投资</a>
			</div>
			<div class="col-xs-12" ng-if="project.terminalCodes.indexOf('3')==-1">
				<a class="btn btn-danger btn-lg" ui-sref="event.download2">下载APP</a>
			</div>
		</div>
	</div>
</div>

<div ui-content-for="modals">
	<div class="modal invest-calculator" ui-if='investcalculator' ui-state='investcalculator' ui-default="false">
		<div class="modal-backdrop in"></div>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header hs-padding-bottom-0">
					<h4 class="modal-title">请输入投资金额</h4>
				</div>
				<div class="modal-body">
					<div ng-if="project.isNewUser==0"><small class="text-primary">新手项目，限投10,000元</small><small class="text-primary pull-right">不可用券</small></div>
					<div class="input-group">
						<input ng-model="cal.calculateAmount" type="number" input-number="2" ng-disabled="project.amount<project.startingAmount" min="0"  class="form-control text-center" placeholder="" onkeyup="if(this.value.length>9){this.value= this.value.substring(0,9);}" id="tipMsg">
						<div class="input-group-addon input-group-addon-line" ng-click="">
							<span class="icon icon-vertical icon-calculator icon-calculator-gray" ng-if="!canCalculate()" ></span>
							<span class="icon icon-vertical icon-calculator icon-calculator-yellow" ng-if="canCalculate()" ng-click="calculate()"></span>
							<span class="input-text">元</span>
						</div>
					</div>
					<div class="invest-calculator-result text-center">
						<span class="text-success">预期收益:<strong class="text-warning" ng-bind="cal.interest | number:2"></strong>元</span>
					</div>
				</div>
				<div class="modal-footer">
					<div class="container">
						<div class="row">
							<div class="col-xs-6">
								<button ui-turn-off="investcalculator" class="btn btn-default text-warning">取消</button>
							</div>
							<div class="col-xs-6">
								<button class="btn btn-primary text-warning"  ng-if="canBuy()" ng-click="nextBuy()">下一步</button>
								<button class="btn btn-primary text-primary"  ng-if="!canBuy()">下一步</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>