<div class="scrollable">
    <div class="scrollable-content">
		<div class="box-group ticket">
			<div class="container hs-margin-bottom-10">
				<div class="row">
					<div class="col-xs-12 hs-padding-left-0 hs-padding-right-0">最大可使用额度0.56元，已选择额度0.00元</div>
				</div>
			</div>
			<!--
		    <div class="box stemp-box investitem ticket-box ticket-bg-pink">
		    	<div class="container">
		    		<div class="row">
					  <div class="col-xs-6 hs-padding-right-0">
					  	<p class="h4">幸运红包</p>
					  </div>
					  <div class="col-xs-6 hs-padding-left-0 text-right">
					  	<p class="dl-horizontal">满1000元抵50元</p>
					  </div>
					</div>
		    	</div>
		        <span class="stemp-box-line"></span>
		        <div class="container">
		    		<div class="row">
					  <div class="col-xs-6 hs-padding-right-0">
						<p class="text-lg">
						  <span class="font-size-16">￥</span>
						  <b class="num">100</b>
						</p>
					  </div>
					  <div class="col-xs-6 hs-padding-left-0 text-center">
					  	<span class="icon icon-img-lg icon-radio-green-nor icon-horizontal icon-lg hs-margin-top-5"></span>
					  </div>
					</div>
					<div class="row">
						<p class="text-sm">有效期至：2015-09-29 13:55:30</p>
					</div>
		    	</div>                         
		    </div>
		    -->
		    <div class="box stemp-box investitem ticket-box ticket-bg-blue" ng-repeat="investmentTicket in canUseInvestmentTickets"
				 ng-class="{'ticket-bg-blue': (investmentTicket.useLimit <= amount), 'ticket-bg-gray': (investmentTicket.useLimit > amount)}"
				 ng-disabled="investmentTicket.useLimit > amount"
				 ng-click="clickTicket(investmentTicket.ticketId)">
		    	<div class="container">
		    		<div class="row">
					  <div class="col-xs-6 hs-padding-right-0">
					  	<p class="h4" ng-bind="amount">现金券</p>
					  </div>
					  <div class="col-xs-6 hs-padding-left-0">
					  	<p class="dl-horizontal" ng-bind="investmentTicket.useInfo">满1000元抵50元</p>
					  </div>
					</div>
		    	</div>
		        <span class="stemp-box-line"></span>
		        <div class="container">
		    		<div class="row">
					  <div class="col-xs-6 hs-padding-right-0">
						<p class="text-lg">
						  <span class="font-size-16">￥</span>
						  <b class="num" ng-bind="investmentTicket.amount">1000</b>
						</p>
					  </div>
					  <div class="col-xs-6 hs-padding-left-0 text-center" ng-show="isInSelectTicketIds(investmentTicket.ticketId)">
					  	<span class="icon icon-img-lg icon-radio-green-sel icon-horizontal icon-lg hs-margin-top-5"></span>
					  </div>
					</div>
					<div class="row">
						<p class="text-sm">有效期至：{{investmentTicket.invalidDt}}</p>
					</div>
		    	</div>                          
		    </div>
		</div>
    </div>
    <div class="container scrollable-footer">
		<div class="row">
			<div class="col-xs-12">
				<a class="btn btn-danger btn-block btn-lg disabled" href="invest/buy/project/">确认</a>
			</div>
		</div>
	</div>
</div>