<div class="scrollable">
	<div class="scrollable-content container riskControl">
		<div class="row top">
			<p class="text-center"><img src="../images/app/img_risk@2x.png"></p>
		</div>
		<!-- <div class="row top">
			<div class="col-xs-4 hs-padding-right-0 hs-padding-left-7">
				<p class="topinfo">
					<a class="center-block" ng-click="next(0)"><span class="icon-group">
						<span class="icon icon-vertical icon-shield-red"></span>
						<span class="icon-txt">金刚花生保障计划</span>
					</span></a>
				</p>
				<p class="pull-right">
					<a class="center-block" ng-click="next(2)"><span class="icon-group">
						<span class="icon icon-vertical icon-column-chart-circle"></span>
						<span class="icon-txt">数据安全</span>
					</span></a>
				</p>
			</div>
			<div class="col-xs-4 shield">
				
			</div>
			<div class="col-xs-4 hs-padding-right-0">
				<p class="topinfo">
					<a class="center-block" ng-click="next(1)"><span class="icon-group">
						<span class="icon icon-vertical icon-moneyinhand-circle"></span>
						<span class="icon-txt">第三方资金托管</span>
					</span></a>
				</p>
				<p class="pull-left">
					<a class="center-block" ng-click="next(3)"><span class="icon-group">
						<span class="icon icon-vertical icon-guarantee-text-circle"></span>
						<span class="icon-txt">实力保障</span>
					</span></a>
				</p>
			</div>
		</div> -->
		<div class="row bottom">
			 <uib-carousel no-wrap="noWrapSlides" custom-carousel no-switch="true" template-url="scripts/directives/Carousel.tpl.html">
                <uib-slide template-url="scripts/directives/Carousel.Slide.tpl.html">
                    <div class="hs-carousel">
						<p class="header green text-center">
							<img src="../images/app/img_trusteeship@2x.png" alt="">
							<!-- <span class="icon-group">
								<span class="icon icon-vertical icon-whirlpool-circle"></span>
								<span class="icon-txt">第三方资金托管</span>
							</span> -->
						</p>
						<p class="context text-left">
							第三方资金托管是指花生金服用户的资金不经过花生金服的银行账户，所有的资金流转均通过资金托管公司进行。避免平台挪用投资人资金而给交易双方带来风险。
第三方资金托管公司是经过央行和银监会审核的金融机构，受到严格监管，资金通过他们的通道流通，安全可靠。
						</p>
					</div>
                </uib-slide>
                <uib-slide template-url="scripts/directives/Carousel.Slide.tpl.html">
                    <div class="hs-carousel">
						<p class="header blue text-center">
							<img src="../images/app/img_guarantee@2x.png" alt="">
							<!-- <span class="icon-group">
								<span class="icon icon-vertical icon-paper-circle"></span>
								<span class="icon-txt">金刚花生保障计划</span>
							</span> -->
						</p>
						<p class="context text-left">
							“金刚花生保障计划”是花生金服为保护平台全体理财人的共同权益而建立的信用风险共担机制。花生金服在成立时一次性投入资本金，并在每笔借款成交时，提取一定比例的金额放入“风险备用金账户”。借款出现严重逾期时（逾期超过30天），根据“风险备用金账户使用规则”，通过“风险备用金”向理财人垫付此笔借款的剩余出借本金或本息（具体情况视投资标的类型的具体垫付规则为准）。
						</p>
					</div>
                </uib-slide>
                <uib-slide template-url="scripts/directives/Carousel.Slide.tpl.html">
                    <div class="hs-carousel">
						<p class="header camel text-center">
							<img src="../images/app/img_data_security@2x.png" alt="">
							<!-- <span class="icon-group">
								<span class="icon icon-vertical icon-sun-flower-circle"></span>
								<span class="icon-txt">实力保障</span>
							</span> -->
						</p>
						<p class="context text-left">
							花生金服拥有完善的安全监测系统，运用先进的安全技术保护用户在金花生账户中存储的个人信息、账户信息以及交易记录的安全，可以及时发现网站的非正常访问并做相应的安全响应。同时，花生金服会持续更新和改进网站的安全策略，以保障用户数据安全。<br>

							花生金服严格遵守国家相关的法律法规，对用户的隐私信息进行保护。未经您的同意， 不会向任何第三方公司、组织和个人披露您的个人信息、账户信息以及交易信息（法律法规另有规定的除外）。
							
						</p>
					</div>
                </uib-slide>
                <uib-slide template-url="scripts/directives/Carousel.Slide.tpl.html">
                    <div class="hs-carousel">
						<p class="header purple text-center">
							<img src="../images/app/img_strength_guarantee@2x.png" alt="">
							<!-- <span class="icon-group">
								<span class="icon icon-vertical icon-rising-data-graph-circle"></span>
								<span class="icon-txt">数据安全</span>
							</span> -->
						</p>
						<p class="context text-left">
							花生金服创始人及核心团队均来自平安银行、第一财经、深圳发展银行、建设银行等知名互联网公司及金融机构的资深人士，在技术研发、金融产品、风险控制等方面专业高效。其母公司上海蓄积金融信息服务有限公司（隶属于中链集团），于2014年11月顺利完成增资行为，现注册资本为1亿元人民币。<br>

							花生金服上线仅半年即获得获得源融世纪投资控股有限公司、亚商资本和中国资本市场传奇人物-吴鸣宵的投资，作为花生金服重要股东，协助公司日常运营，确保花生金服快速、平稳发展。
						</p>
					</div>
                </uib-slide>
            </uib-carousel>
		</div>
	</div>
</div>