<div class="scrollable">
    <div class="scrollable-content ticket">
    	<ui-state id='ticketTab' default='1'></ui-state>
    	<div class="btn-group justified nav-tabs top">
		  <a ui-set="{'ticketTab': 1}" ui-class="{'active': ticketTab == 1}" class="btn btn-default font-size-16">现金券</a>
		  <a ui-set="{'ticketTab': 2}" ui-class="{'active': ticketTab == 2}" class="btn btn-default font-size-16">提现券</a>
		</div>
		<div ui-if="ticketTab == 1" class="container hs-padding-right-10 hs-padding-left-10">
		    <div ng-repeat="ticket in tickets" class="ticketBox" ng-class="ticket.status==0 ? 'pink-border' : 'gray-border'">
		    	<div class="border-circle"></div>
		    	<div class="txtlabel text-success font-size-16" ng-bind="ticket.statusName">已过期</div>
	    		<div class="row">
	    			<div class="col-xs-4 hs-padding-right-0 left">
						<p class="text-lg" ng-class="ticket.status==0 ? 'pink' : 'gray'">
						  <span class="font-size-16">￥</span>
						  <b class="num" ng-bind="ticket.amount"></b>
						</p>
						<span class="vertical-line"></span>
					  </div>
					  <div class="col-xs-8 hs-padding-right-0 right">
					  	<span class="font-size-16 hs-padding-bottom-4"><b>投资券</b></span>
					  	<span class="text-success"><i class="font-size-12 hs-margin-right-4">•</i>满{{useTicketAmount(ticket.amount)}}抵{{ticket.amount}}元</span>
						<span class="text-success"><i class="font-size-12 hs-margin-right-4">•</i>来源:{{ticket.getRemark}}</span>
						<span class="text-success"><i class="font-size-12 hs-margin-right-4">•</i>有效期至：{{ticket.invalidDt}}</span>
					  </div>
				</div>                   
		    </div>
		</div>
		<div ui-if="ticketTab == 2" class="container hs-padding-right-10 hs-padding-left-10">
		    <div class="ticketBox blue-border">
		    	<div class="border-circle"></div>
	    		<div class="row">
	    			<div class="col-xs-12 hs-padding-top-4">
	    				<p class="font-size-18 text-center">提现券数量</p>
						<p class="text-lg blue text-center hs-margin-bottom-0">
						  <b class="num" ng-bind="ticketCount"></b>
						  <span class="font-size-16">张</span>
						</p>
						<p class="text-center text-success font-size-12 bordertop hs-margin-bottom-0 hs-padding-top-4">可抵扣提现手续费(2元/笔)</p>
					</div>
				</div>                   
		    </div>
		</div>
    </div>
</div>