/.idea
bower_components/
node_modules/
/app/index.html
/app/yeepay.html
/app/fonts/
/app/dist
/app/css/app-base.css
/config/app.json
/config/config.less
/config/activity.json
/config/log.json
/config/deploy.rsa
/config/fake.rsa
npm-debug.log
/docs
/fakedocs
/certificate.pem
/privatekey.pem
/certrequest.csr
#/app/scripts/services/Config.js
/app/components.html
/node_modules.zip
/bower_components.zip
css_example/
reports/
tools/protractor/chromedriver
tools/protractor/chromedriver.exe
/app/scripts/controllers/wechatjssdk
