<div class="scrollable">
	<div class="scrollable-content recommend" ui-scroll-bottom="loadMore()">
		<div>
			<ui-state id='detailTab' default='{{detailTab}}'></ui-state>
			<div class="btn-group justified nav-tabs top">
				<a ui-set="{'detailTab': 1}" ui-class="{'active': detailTab == 1}" class="btn btn-default" ng-click="setDetailTab(1)">现金</a>
				<a ui-set="{'detailTab': 2}" ui-class="{'active': detailTab == 2}" class="btn btn-default" ng-click="setDetailTab(2)">现金券</a>
			</div>
			<div ui-if="detailTab == 1" class="container recommend-tabcontent">
				<div class="row">
					<div class="col-xs-12 text-center">
						<p class="text-warning font-size-18" ng-bind="earningAmount">0</p>
						<p class="text-muted font-size-12">奖励总额(元)</p>
					</div>
				</div>
			</div>

			<div ui-if="detailTab == 2" class="container recommend-tabcontent">
				<div class="row">
					<div class="col-xs-12 text-center">
						<p class="text-warning font-size-18" ng-bind="earningTicketAmount">0</p>
						<p class="text-muted font-size-12">奖励总额(元)</p>
					</div>
				</div>
			</div>
		</div>
		<table ui-if="detailTab == 1" class="table table-bg-white">
			<thead>
			<tr>
				<td class="text-left">日期</td>
				<td class="text-center">金额(元)</td>
				<td class="text-right">状态</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="earning in earningList">
				<td class="text-left">
					<span class="show ng-binding" ng-bind="earning.opDt"></span>
				</td>
				<td class="text-center ng-binding" ng-bind="earning.changeVal"></td>
				<td class="text-right ng-binding" ng-bind="earning.changeTypeName"></td>
			</tr>
			</tbody>
		</table>

		<table ui-if="detailTab == 2" class="table table-bg-white">
			<thead>
			<tr>
				<td class="text-left">日期</td>
				<td class="text-center">金额(元)</td>
				<td class="text-right">状态</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="ticket in tickets">
				<td class="text-left">
					<span class="show ng-binding" ng-bind="ticket.getDt"></span>
				</td>
				<td class="text-center ng-binding" ng-bind="ticket.amount"></td>
				<td class="text-right ng-binding" ng-bind="ticket.getRemark"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div ui-content-for="modals">
	<div class="modal recommend-share" ui-if='mmmm' ui-state='mmmm' ui-default="false">
		<div class="modal-backdrop in"></div>
		<div class="modal-dialog">
			<div class="icon icon-recommend-hand"></div>
		</div>
	</div>
</div>