<div class="scrollable">
  <div class="scrollable-content recommend-my" ui-scroll-bottom="loadMore()" ui-scroll-top="loadMore(true)">
  	<ul class="list-group hs-margin-bottom-0">
  		<li class="list-group-item">
  			<span class="icon-group">
				<span class="icon icon-lg icon-corn icon-horizontal"></span>
				<span class="icon-txt font-size-16">奖励总计</span>
			</span>
  		</li>
  	</ul>
  	<!-- <div class="recommend-my-column">
  		<p class="text-center">
  			<span class="text-warning font-size-18" ng-bind="my.registerCount || 0"></span>
	    	<small class="text-muted font-size-12"> 注册人数</small>
  		</p>
  		<p class="text-center">
  			<span class="text-warning font-size-18" ng-bind="my.nameAuthCount || 0"></span>
	    	<small class="text-muted font-size-12"> 实名人数</small>
  		</p>
  		<p class="text-center">
  			<span class="text-warning font-size-18" ng-bind="my.investAccount || 0"></span>
	    	<small class="text-muted font-size-12"> 投资人数</small>
  		</p>
  	</div> -->
  	<!-- 2016.2.17效果图修改 -->
  	<div class="recommend-my-column hs-margin-bottom-10">
  		<p class="text-center">
  			<span class="text-success font-size-16 hs-padding-bottom-5">现金(元)</span>
	    	<small class="text-warning font-size-14">{{my.earningAmount | number:2}}</small>
  		</p>
  		<p class="text-center">
  			<span class="text-success font-size-16 hs-padding-bottom-5">现金券(元)</span>
	    	<small class="text-warning font-size-14">{{my.earningTicketAmount}}</small>
  		</p>
  	</div>
	<table class="table table-bg-white" ng-if="friends.length!=0">
		<tbody>
			<tr ng-show="refreshLoading">
				<td colspan="3" style="border: 0">
				<div class="app-content-loading invest-bottom-loading text-center">
					<i class="fa fa-spinner fa-spin loading-spinner"></i>
				</div>
				</td>
			</tr>
			<tr ng-repeat="friend in friends">
				<td class="text-left">
					<span class="font-size-16 show ng-binding" ng-bind="friend.account"></span>
					<span class="text-success show ng-binding" ng-bind="friend.statusName"></span>
				</td>
				<td class="text-right">
					<span class="font-size-16 show" ng-bind="friend.registerChannel"></span>
					<span class="text-success show" >注册时间 : {{friend.registerDt}}</span>
				</td>
			</tr>
			<tr ng-show="loading">
				<td colspan="3" style="border: 0">
					<div class="app-content-loading invest-bottom-loading text-center">
						<i class="fa fa-spinner fa-spin loading-spinner"></i>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
  </div>
</div>