<div class="scrollable">
    <div class="scrollable-content">
        <ul class="list-group">
            <li class="list-group-item hs-padding-0">
                <input type="text" class="form-control" ng-model="showName" placeholder="请输入联系人姓名" ng-blur="showNameBlur()">
            </li>
            <li class="list-group-item hs-padding-0">
                <input type="tel" class="form-control" ng-model="mobile" placeholder="请输入联系人电话" ng-blur="mobileBlur()">
            </li>
            <li class="list-group-item hs-padding-0">
                <input type="text" class="form-control" ng-model="accountAddress" placeholder="请输入联系人地址" ng-blur="addressBlur()">
            </li>
            <li class="list-group-item hs-padding-0">
                <span class="text-success font-size-14 hs-padding-top-10 hs-padding-bottom-10 hs-padding-left-10 center-block">设为默认地址</span>
                <span class="icon circle-tip" ng-class="{'icon-radio-yellow-nor':!address.isDefault,'icon-radio-yellow-sel':address.isDefault}" ng-click="address.isDefault = !address.isDefault"></span>
            </li>
        </ul>
        <div class="hs-padding-left-7 hs-padding-right-7">
            <a class="btn btn-lg btn-danger center-block" ng-class="{'disabled':!canAddAddress()}" ng-disabled="!canAddAddress()" ng-click="customerAddressAdd()" id="customerAddressAddBtn">确定</a>
        </div>
    </div>
</div>
<div ui-content-for="navbarAction">
	<span class="navbarRight">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	</span>
</div>