<div class="scrollable">
	<div class="scrollable-content peanut-log menu">
		<div class="container list-group-item hs-padding-top-0 hs-padding-bottom-0" ng-repeat="record in records">
			<div class="row">
				<div class="col-xs-3 text-center hs-padding-0"><img src="{{record.logoMin}}"></div>
				<div class="col-xs-4 text-center hs-padding-left-7 hs-padding-right-7">
					<span class="text-info center-block hs-padding-bottom-6 hs-padding-top-10">商品名称</span>
					<span>{{record.productName}}</span>
				</div>
				<div class="col-xs-2 text-center hs-padding-left-7 hs-padding-right-7">
					<span class="text-info center-block hs-padding-bottom-6 hs-padding-top-10">数量</span>
					<span>{{record.productCount}}</span>
				</div>
				<div class="col-xs-3 text-center hs-padding-left-7 hs-padding-right-7">
					<span class="text-info center-block hs-padding-bottom-6 hs-padding-top-10">花生豆</span>
					<span class="text-danger">{{record.price}}</span>
				</div>
			</div>
			<p class="font-size-12 hs-padding-top-10">订单编号：{{record.orderCode}}</p>
			<p class="font-size-12">交易时间：{{record.createDt}}</p>
		</div>

	</div>
</div>