<div class="scrollable">
	<div class="scrollable-content peanut-selectadr peanut-finishpay menu">
		<p class="text-info hs-padding-left-10 hs-padding-top-10" ng-if="productDetail.typeId==1">收货人信息</p>
		<div class="list-group-item" ng-if="productDetail.typeId==1">
				<span class="icon-group pull-left">
					<span class="icon icon-horizontal icon-sm icon-landmark-pink"></span>
					<span class="icon-txt text-left text-muted">{{address.showName}}
						<span style="display: block;">{{address.mobile}}</span>
						<span><i class="text-danger font-style-normal"></i>{{address.address}}</span>
					</span>
				</span>
			<span class="menuarrow menuarrow-right pull-right"></span>
		</div>
		<p class="text-info hs-padding-left-10">订单详情</p>
		<div class="list-group-item container listdetail hs-padding-top-0 hs-padding-bottom-0">
			<div class="row">
				<div class="col-xs-3 text-center hs-padding-0"><img src="{{productDetail.logoNormal}}"></div>
				<div class="col-xs-4 text-center">
					<span>{{productDetail.productName}}</span>
				</div>
				<div class="col-xs-2 text-center">
					<span>*{{productCount}}</span>
				</div>
				<div class="col-xs-3 text-center">
					<span class="text-danger">{{productCount*productDetail.price}}</span>
				</div>
			</div>
		</div>
		<div class="list-group-item">
			<p>订单编号：{{orderCode}}</p>
			<p class="hs-margin-bottom-0">交易时间：{{createDt}}</p>
		</div>
		<p class="text-info hs-padding-left-10 font-size-12">温馨提示：现在可以在卡券中心看到您兑换的现金券哦。</p>
	</div>
</div>