<div class="scrollable">
  <div class="scrollable-content peanuts log loading"  ui-scroll-bottom="loadMoreLog()" ui-scroll-top="loadMoreLog(true)" >
	<ul class="list-group menu" ng-repeat="(yearMonth, logs) in yearMonths">
		<li class="list-group-item transparent-bg"><span class="text-info">{{yearMonth}}</span></li>
	    <li class="list-group-item" ng-repeat="log in logs">
	        <span class="icon-group pull-left">
	        	<span class="icon icon-horizontal icon-md" ng-class="{'icon-shou' : log.type==1 , 'icon-dui':log.type==2}"></span>
				<span class="icon-txt text-left text-muted">{{log.typeName}}<small class="text-primary" style="display: block;">{{log.opDt.substring(5,16)}}</small></span>
	        </span>
			</span><span class="menu-text-right pull-right"><span ng-if="log.type==1">+</span>{{log.changeVal}}</span>
	    </li>
	</ul>
  </div>
</div>