<div class="scrollable">
    <div class="scrollable-content mypeanut">
        <div class="mypeanut-header container">
            <div class="row hs-margin-bottom-1">
                <div class="col-xs-5 text-right hs-margin-top-7">
                    <span class="icon icon-md icon-vertical icon-peanuts-red"></span>
                </div>
                <div class="col-xs-7 hs-padding-left-0">
                    <span class="data text-warning" ng-bind="accountInfo.availableIntegral">100.000.00</span><br>
                    <span class="text-warning" ui-sref="account.peanut.log">查看花生豆记录 ></span>
                </div>
            </div>
        </div>
        <div class="mypeanut-item text-muted">赚取花生豆</div>
        <div class="mypeanut-column" id="showTip">
            <div class="item pull-left text-center">
			<span class="icon-group" ng-click="sign()">
				<span class="icon icon-lg icon-vertical icon-calendar ui-turn-on="invitation""><!-- <i class="count" ng-if="showSign">+10</i> --></span>
				<span class="icon-txt" ng-if="!hasSigned">每日签到</span>
				<span class="icon-txt" ng-if="hasSigned">今日已签到</span>
			</span>
            </div>
            <div class="item pull-left text-center" ui-sref="invest.list">
			<span class="icon-group">
				<span class="icon icon-lg icon-vertical icon-pig"></span>
				<span class="icon-txt">投资赚花生</span>
			</span>
            </div>
        </div>
        <div class="mypeanut-item text-muted"><span class="pull-left">兑换商品</span><span class="pull-right" ui-sref="account.peanut.peanutPark">
	查看更多</span></div>
        <div class="mypeanut-pro hs-padding-top-0 hs-padding-bottom-0">
            <div ng-repeat="product in productsMain" ui-sref="account.peanut.productDetail({productId: product.productId})">
                <div ng-if="product.typeId==1" class="item pull-left">
                    <p class="text-center"><img src="{{product.logoMin}}"></p>

                    <p class="clearfix hs-margin-bottom-5">
                        <span class="pull-left">{{product.productName}}</span>
                        <span ng-if="product.productSurplus>0"
                          class="pull-right">库存{{product.productSurplus}}个</span>
                    </p>

                    <p><span
                            class="text-warning pull-left">{{product.price}}花生豆</span><span
                            ng-if="product.productSurplus==0"
                            class="text-primary pull-right">已兑完</span>
                    </p>
                </div>
                <div ng-if="product.typeId==2" class="item pull-left">
                    <p class="text-center"><img src="{{product.logoMin}}"></p>

                    <p class="clearfix hs-margin-bottom-5">
                        <span class="pull-left">{{product.productName}}</span>
                        <span ng-if="product.productSurplus>0"
                          class="pull-right">库存{{product.productSurplus}}张</span>
                    </p>

                    <p><span
                            class="text-warning pull-left">{{product.price}}花生豆</span><span
                            ng-if="product.productSurplus==0"
                            class="text-primary pull-right">已兑完</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="navbarAction">
    <span class="navbarRight" ui-sref="account.peanut.rule">规则</span>
</div>
<div ui-content-for="modals">
    <div class="modal hs-popup bookin" ui-turn-off="bookin" ui-if='bookin' ui-state='bookin' ui-default="false">
        <div class="modal-backdrop in"><img src="../images/app/img_sign.png"></div>
    </div>
</div>