<div class="scrollable">
    <div class="scrollable-content mypeanut peanutpark">
        <div><img src="../images/app/peanut/peanuspark-banner.jpg"></div>
        <div class="mypeanut-item text-muted"><span class="pull-left">兑换商品</span><span class="pull-right">
	我的花生豆:<span class="text-warning">{{accountInfo.availableIntegral}}</span></span></div>
        <div class="mypeanut-pro hs-padding-top-0 hs-padding-bottom-0">
            <div ng-repeat="product in products" ui-sref="account.peanut.productDetail({productId: product.productId})">
                <div ng-if="product.typeId==1" class="item pull-left">
                    <p class="text-center"><img src="{{product.logoMin}}"></p>

                    <p class="clearfix hs-margin-bottom-5">
                        <span class="pull-left">{{product.productName}}</span>
                        <span ng-if="product.productSurplus>0"
                              class="pull-right">库存{{product.productSurplus}}个</span>
                    </p>

                    <p><span
                            class="text-warning pull-left">{{product.price}}花生豆</span><span
                            ng-if="product.productSurplus==0"
                            class="text-primary pull-right">已兑完</span>
                    </p>
                </div>
                <div ng-if="product.typeId==2" class="item pull-left">
                    <p class="text-center"><img src="{{product.logoMin}}"></p>

                    <p class="clearfix hs-margin-bottom-5">
                        <span class="pull-left">{{product.productName}}</span>
                        <span ng-if="product.productSurplus>0"
                              class="pull-right">库存{{product.productSurplus}}张</span>
                    </p>

                    <p><span
                            class="text-warning pull-left">{{product.price}}花生豆</span><span
                            ng-if="product.productSurplus==0"
                            class="text-primary pull-right">已兑完</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="navbarAction">
    <span class="navbarRight" ui-sref="account.peanut.exchangeRecord">兑换记录</span>
</div>