<div class="scrollable">
	<div class="scrollable-content peanuts-prodetail">
		<div class="container">
			<div class="row img">
				<div class="col-xs-6 text-center"><img src="{{productDetail.logoNormal}}"></div>
				<div class="col-xs-6">
					<span class="center-block">{{productDetail.productName}}</span>
					<span class="text-warning">{{productDetail.price}}花生豆</span>
				</div>
			</div>
		</div>
		<div class="hs-padding-top-10 hs-padding-left-10 hs-padding-right-10">
			<h3 class="text-warning font-size-14">商品详情</h3>
			<p ng-bind-html="productDetail.introduction"></p>
			<!--<p>{{productDetail.introduction}}</p>-->
		</div>
	</div>
</div>
<div ng-if="!getService('Common').inApp()" class="container peanuts-prodetail-bottombtn">
	<div class="row">
		<div class="col-xs-6">
			<span class="text-primay font-size-14">数量:</span>
			<span class="text-primay" role="button" ng-click="minus()" ng-if="productCount>1">-</span>
			<span class="text-primay disabled" role="button" ng-if="productCount<=1">-</span>
			<span class="text-primay font-size-14">{{productCount}}</span>
			<span class="text-danger" role="button" ng-click="add()" ng-if="productCount<productDetail.productSurplus">+</span>
			<span class="text-danger disabled" role="button" ng-if="productCount>=productDetail.productSurplus">+</span>
		</div>
		<div ng-if="productCount>0 && accountInfo.peanut>=productDetail.realPrice*productCount" class="col-xs-6 hs-padding-left-0"><a class="btn btn-lg btn-danger center-block" ui-sref="account.peanut.confirmOrder({productId: productId,productCount:productCount})">立即兑换</a></div>
		<div ng-if="productCount==0" class="col-xs-6 hs-padding-left-0"><a class="btn btn-lg btn-danger center-block disabled">库存不足</a></div>
		<div ng-if="productCount>0 && accountInfo.peanut<productDetail.realPrice*productCount" class="col-xs-6 hs-padding-left-0"><a class="btn btn-lg btn-danger center-block disabled" ui-sref="account.peanut.confirmOrder({productId: productId,productCount:productCount})">花生豆不足</a></div>
	</div>
</div>