<div class="scrollable">
  <div class="scrollable-content peanutsrule">
  	<div class="container">
  		<h3 class="text-warning font-size-16 hs-margin-top-10">1. 什么是花生豆</h3>
  		<div class="info">
	  		<p>
				花生豆是花生金服为答谢广大用户的支持与厚爱而推出的一项客户回馈服务。用户可通过在网站、微信或者手机客户端投资或参与活动获取花生豆。花生豆达到一定数量后，可兑换现金券、提现券和其他商品等。
	  		</p>
  		</div>
  		<h3 class="text-warning font-size-16">2. 如何获取花生豆</h3>
  		<div class="info">
	  		<p> 1)	投资<span class="text-danger">(不含活期产品)</span>送花生豆，投资或融资1元积1花生豆，不满1元不积分。<br>
				2)	每日签到可获得10花生豆，每天可签到一次；<br>
				3)	其他活动获取；</p>
  		</div>
  		<h3 class="text-warning font-size-16">3. 花生豆用途</h3>
  		<div class="info">
	  		<p> 1)	花生乐园兑换商品；<br>
				2)	参与活动；<br> </p>
  		</div>
  		<h3 class="text-warning font-size-16">4. 花生豆兑换规则及有效期</h3>
  		<div class="info">
	  		<p> 1)	花生豆永久有效；<br>
				2)	花生豆不能兑换现金，不可转让。<br> </p>
  		</div>
  	</div>
  </div>
</div>