<div class="scrollable">
    <div class="scrollable-content" style="overflow: auto">
		<div class="account-overview">
			<ul class="list-group menu hs-margin-bottom-8 hs-margin-top-8">
				<li class="list-group-item hs-padding-top-12 hs-padding-bottom-12 border-top-0 transparent-bg">
					<span class="list-help font-size-16">账户资产(元)
						<i class="icon-question-mark" tip-popover msg="账户资产=可用余额+待收本金+冻结资金" direction="bottom" fixed-width="285" ></i>
					</span>
			    	<span class="menu-text-right pull-right text-warning" ng-bind="accountInfo.goldBalance + accountInfo.willPrincipal  | number:2">300.000.00</span>
				</li>
				<li class="list-group-item border-top-dashed">
					<span class="list-help text-success">待收本金(元)
						<i class="icon-question-mark" tip-popover msg="待收本金=定期投资+活期投资" direction="bottom" fixed-width="220" ></i>
					</span>
			    	<!-- <i class="menuarrow menuarrow-right pull-right"></i> -->
			    	<span class="menu-text-right pull-right text-muted" ng-bind="accountInfo.willPrincipal | number:2">300.000.00</span>
				</li>
				<li class="list-group-item border-top-0">
					<span class="list-help text-success">冻结资金(元)<i class="icon-question-mark"
																   tip-popover msg="投标时处于冻结状态的资金，如果投标失败，稍后会自动退回您的账户" direction="bottom" fixed-width="280"></i></span>
			    	<span class="menu-text-right pull-right text-muted" ng-bind="accountInfo.congealVal  | number:2">300.000.00</span>
				</li>
				<li class="list-group-item border-top-0 border-bottom-0 transparent-bg">
					<span class="text-success">可用余额(元)</span>
			    	<span class="menu-text-right pull-right text-muted" ng-bind="accountInfo.availableBalance | number:2">300.000.00</span>
				</li>
			</ul>
			<ul class="list-group menu">
				<li class="list-group-item hs-padding-top-12 hs-padding-bottom-12 border-top-0 transparent-bg">
					<span class="font-size-16">账户收益(元)</span>
			    	<span class="menu-text-right pull-right text-warning" ng-bind="accountInfo.willProfit+sumProfit | number:2">300.000.00</span>
				</li>
				<li class="list-group-item border-top-dashed" ui-sref="account.invest({activeTab:2})">
					<span class="text-success">待收利息(元)</span>
			    	<span class="menu-text-right pull-right text-muted" ng-bind="accountInfo.willProfit | number:2">300.000.00</span>
				</li>
				<li class="list-group-item border-top-0 border-bottom-0 transparent-bg">
					<span class="text-success">累计收益(元)</span>
			    	<span class="menu-text-right pull-right text-muted" ng-bind="accountInfo.sumProfit | number:2">300.000.00</span>
				</li>
			</ul>
		</div>
	</div>
</div>