<div class="about">
    <div class="text-center about-logo">
    	<img src="/images/app/icon_logo.png?__IMG_VERSION__" />
        <p class="text-info text-center font-size-16 hs-padding-top-10 hs-margin-bottom-0">V{{app.version}}</p>
    </div>
    <ul class="list-group menu">
        <!-- <li class="list-group-item">
            <span>当前版本</span>
            <span class="pull-right text-primary" ng-bind="app.version">1.1.0</span>
        </li> -->
        
        <li class="list-group-item" ui-sref="more.company">
            <span>公司简介</span>
             <i class="menuarrow menuarrow-right pull-right"></i>
        </li>
        <li class="list-group-item">
            <span>官方网站</span>
            <span class="pull-right text-primary">www.hsbank360.com</span>
        </li>
        <li class="list-group-item">
            <span>微信公众号</span>
            <span class="pull-right text-primary">花生金服</span>
        </li>
        <li class="list-group-item">
            <span>新浪微博</span>
            <span class="pull-right text-primary">@花生金服</span>
        </li>
    </ul>
    <div class="text-center text-success font-size-12">
    	<p>Copyright©2004-2016花生金服版权所有</p>
    </div>
</div>