<div class="scrollable">
  <div class="scrollable-content log" ui-scroll-bottom="loadMoreLog()" ui-scroll-top="loadMoreLog(true)">
	<div class="loading">
		<ul class="list-group menu" ng-repeat="(yearMonth, logs) in yearMonths">
			<li class="list-group-item transparent-bg"><span class="text-info" ng-bind="yearMonth">2015年09月</span></li>
			<li class="list-group-item" ng-repeat="log in logs">
				<span class="icon-group pull-left">
					<span class="icon icon-horizontal icon-md"
						  ng-class="{'icon-recharge':log.changeType.toUpperCase() == 'NET_B2B' || log.changeType.toUpperCase() == 'NET_B2C' || log.changeType.toUpperCase() == 'A_PAY' || log.changeType.toUpperCase() == 'WH_NO_CARD' || log.changeType.toUpperCase() == 'SWIFT' || log.changeType == '5', 'icon-ti-purple':log.changeType.toUpperCase() == 'NORMAL' || log.changeType.toUpperCase() == 'URGENT', 'icon-apply-cash':log.changeType == '1' || log.changeType == '2', 'icon-invest-circle':log.changeType == '3', 'icon-principal':log.changeType == '4', 'icon-register-give': log.changeType == '6' || log.changeType == '7' || log.changeType == '8', 'icon-income':log.changeType == '9' || log.changeType == '10' || log.changeType == '11'}"></span>
					<span class="icon-txt text-left text-muted">{{log.changeTypeName}}<small style="display: block;" ng-bind="log.opDt">09-25 14:25</small></span>
				</span>
				<span class="menu-text-right pull-right" ng-bind="log.changeVal | number:2" ng-if="log.changeVal >= 0"></span>
				<span class="menu-text-right pull-right" ng-bind="log.changeVal | number:2" ng-if="log.changeVal < 0"></span>
			</li>
		</ul>
	</div>
	<div class="my-invest-tabcontent-empty text-center show" ng-if="isEmptyObject(yearMonths)">
		<span class="icon-group">
			<i class="icon icon-default icon-folder icon-vertical icon-x-lg"></i>
			<i class="icon-txt">
				您还没有任何交易记录哦
			</i>
		</span>
	</div>
  </div>
</div>