<div class="scrollable">
	<div class="scrollable-content my-page">
		<div class="container my-header">
			<div class="row hs-margin-top-5">
				<div class="col-xs-4 text-left">
					<span class="icon-group relative" ui-sref="account.message">
						<span class="icon icon-message icon-horizontal icon-sm"></span>
						<i class="badge badge-danger badge-default-position"></i>
					</span>
				</div>
				<div class="col-xs-4 text-center" ng-bind="accountInfo.nickname">奥巴马</div>
				<div class="col-xs-4 text-right">
					<span class="icon-group" ui-sref="account.info">
						<span class="icon icon-gear icon-horizontal icon-sm"></span>
					</span>
					<!-- <span class="icon-group " ng-click="sign()">
						<span class="icon icon-sign icon-horizontal icon-sm"></span>
						<span class="icon-txt icon-add-one"><span ng-if="hasSigned">已</span>签到
							<i ng-class="{'hide':!showSignTip,'show':showSignTip}">+{{signValue}}</i>
						</span>
					</span> -->
					
				</div>
			</div>
			<div class="row hs-margin-top-5">
				<div class="col-xs-4"></div>
				<div class="col-xs-4 text-center hportrait">
					<!-- 需添加ngSrc="accountInfo.avatar" -->
					<img ng-src="{{accountInfo.avatar}}" ui-sref="account.info()" class="img-circle" width="41" />
				</div>
				<div class="col-xs-4"></div>
			</div>
			<div class="row hs-margin-top-5">
				<div class="col-xs-4"></div>
				<div class="col-xs-12 text-center text-primary" ui-sref="account.overview.main">账户资产(元)</div>
				<div class="col-xs-4"></div>
			</div>
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-6 text-center my-page-eye hs-padding-left-0 hs-padding-right-0">
					<span class="text-warning assets font-size-18" ui-sref="account.overview.main" ng-bind="accountInfo.goldBalance + accountInfo.willPrincipal | number:2" ng-if="isShowAccountMoney">0.00</span>
					<span class="text-warning assets font-size-18 center-block" ng-if="!isShowAccountMoney">****</span>
				</div>	
				<div class="col-xs-3 hs-padding-left-0 hs-margin-top-3">
					<span class="icon icon-eye-open icon-sm icon-vertical" ng-click="changeShowAccountMoneyStatus()" ng-if="isShowAccountMoney"></span>
					<span class="icon icon-eye-close icon-sm icon-vertical" ng-click="changeShowAccountMoneyStatus()" ng-if="!isShowAccountMoney"></span>
				</div>
			</div>
			<div class="row hs-margin-top-10"  ng-if="isShowAccountMoney"  style="height: 56px;">
				<div class="col-xs-4 text-center" ui-sref="account.overview.main">
					<p class="text-primary  count-title">可用余额(元)</p>
					<p class="h5 count-date" ng-bind="accountInfo.availableBalance | number:2"></p>
				</div>
				<div class="col-xs-4 text-center" ui-sref="account.overview.main">
					<p class="text-primary count-title">待收本金(元)</p>
					<p class="h5 count-date" ng-bind="accountInfo.willPrincipal | number:2" ></p>
				</div>
				<div class="col-xs-4 text-center" ui-sref="account.overview.main">
					<p class="text-primary  count-title">待收利息(元)</p>
					<p class="h5 count-date"  ng-bind="accountInfo.willProfit | number:2"></p>
				</div>
			</div>
			<div class="row hs-margin-top-10"  ng-if="!isShowAccountMoney">
				<div class="col-xs-4 text-center">
					<p class="text-primary  count-title">可用余额(元)</p>
					<p class="h5 count-date">****</p>
				</div>
				<div class="col-xs-4 text-center">
					<p class="text-primary count-title">待收本金(元)</p>
					<p class="h5 count-date">****</p>
				</div>
				<div class="col-xs-4 text-center">
					<p class="text-primary  count-title">待收利息(元)</p>
					<p class="h5 count-date">****</p>
				</div>
			</div>
		</div>
		<div class="container hs-margin-top-10 hs-margin-bottom-10">
			<div class="row">
				<!--到充值-->
				<div class="col-xs-6 btn-area-left" ng-if="accountInfo.hasOpenThirdAccount == '1'">
					<input type="button" class="btn btn-danger btn-block btn-lg" ui-sref="yeepay.recharge()" value="充值"/>
				</div>
				<!--到开通易宝-->
				<div class="col-xs-6 btn-area-left" ng-if="accountInfo.hasOpenThirdAccount != '1'">
					<input type="button" class="btn btn-danger btn-block btn-lg" ui-sref="yeepay.register({mobile:accountInfo.mobile})" value="充值"/>
				</div>

				<!--到提现-->
				<div class="col-xs-6 btn-area-right" ng-if="accountInfo.hasBindBankCard == '1' && accountInfo.hasOpenThirdAccount == '1'">
					<input type="button" class="btn btn-withdrawal btn-block btn-lg" ui-sref="yeepay.withdrawals()" value="提现" />
				</div>
				<!--到绑卡-->
				<div class="col-xs-6 btn-area-right" ng-if="accountInfo.hasBindBankCard != '1' && accountInfo.hasOpenThirdAccount == '1'">
					<input type="button" class="btn btn-withdrawal btn-block btn-lg" ui-sref="yeepay.bindBankCard()" value="提现" />
				</div>
				<!--到开通易宝-->
				<div class="col-xs-6 btn-area-right" ng-if="accountInfo.hasOpenThirdAccount != '1'">
					<input type="button" class="btn btn-withdrawal btn-block btn-lg" ui-sref="yeepay.register({mobile:accountInfo.mobile})" value="提现" />
				</div>

			</div>
		</div>
		<div class="">
			
			<ul class="list-group menu account-reward">
			    <li class="list-group-item">
					<div class="container">
						<div class="row">
							<div class="col-xs-3 text-center hs-padding-right-0 hs-padding-left-0" ui-sref="account.recommend.main">
								<span class="icon-group">
									<span class="icon icon-default icon-recommend icon-vertical icon-lg"></span>
									<i class="icon-txt">邀请有奖</i>
								</span>
							</div>
							<div class="col-xs-3 text-center hs-padding-right-0 hs-padding-left-0">
								<span class="icon-group" ui-sref="account.ticket.main">
									<span class="icon icon-default icon-ticket icon-vertical icon-lg">
										<!--<i class="badge badge-danger badge-default-position"></i>-->
									</span>
									<i class="icon-txt">卡券</i>
								</span>
							</div>
							<div class="col-xs-3 text-center hs-padding-right-0 hs-padding-left-0">
								<span class="icon-group" ui-sref="account.peanut.main">
									<span class="icon icon-default icon-peanuts-yellow icon-vertical icon-lg">
									</span>
									<i class="icon-txt">花生豆</i>
								</span>
							</div>
							<div class="col-xs-3 text-center hs-padding-right-0 hs-padding-left-0">
								<span class="icon-group" ui-sref="event.hjxc">
									<span class="icon icon-default icon-diadema icon-vertical icon-lg">
									</span>
									<i class="icon-txt">会员专享</i>
								</span>
							</div>
						</div>
					</div>
			    </li>
			</ul>
			
			<ul class="list-group menu">
				<li class="list-group-item" ui-sref="account.current.myCurrent()">
			    	<span class="icon-group">
			    		<i class="icon icon-money-purple icon-horizontal icon-lg"></i>
			    		<i class="icon-txt">我的活花生</i>
			    	</span>
			        <i class="menuarrow menuarrow-right"></i>
			        <span class="menu-text-right text-success" ng-if="accountInfo.current.interestOfYesterday <= 0">年化收益率6.8%</span>
			        <span class="menu-text-right twoline" ng-if="accountInfo.current.interestOfYesterday > 0"><span class="text-muted font-size-14">{{accountInfo.current.amount}}</span><span class="text-success font-size-12">昨日+{{accountInfo.current.interestOfYesterday | number : 2}}</span></span>
			    </li>
			    <li class="list-group-item" ui-sref="account.invest({activeTab:2})" id="investLi">
			    	<span class="icon-group">
			    		<i class="icon icon-my-invest icon-horizontal icon-lg"></i>
			    		<i class="icon-txt">我的投资</i>
			    	</span>
			        <i class="menuarrow menuarrow-right"></i>
			    </li> 
			    <li class="list-group-item" ui-sref="account.log()">
			    	<span class="icon-group">
			    		<i class="icon icon-transaction-record icon-horizontal icon-lg"></i>
			    		<i class="icon-txt">交易记录</i>
			    	</span>
			        <i class="menuarrow menuarrow-right"></i>
			    </li>
				<!--
			    <li class="list-group-item">
			    	<span class="icon icon-my-financing icon-horizontal icon-lg">我的融资</span>
			        <i class="menuarrow menuarrow-right pull-right"></i>
			    </li>
			    -->
			</ul>	
		</div>
		<p class="text-center text-success footer">
			<span class="icon-group">
			    <i class="icon icon-shield icon-horizontal icon-x-sm"></i>
			    <i class="icon-txt">账户资金由易宝支付托管，安全可靠</i>
			</span>
		</p>
	</div>
</div>