<div class="scrollable modify-password">
    <div class="scrollable-content">
        <form ng-submit="changePassword()">
            <ul class="list-group menu">
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 hs-padding-left-0 hs-padding-right-0 hs-margin-top-10">旧密码</div>
                            <div class="col-xs-9 hs-padding-right-0">
                                <input ng-model="oldPassword" type="password" autocomplete="off" class="form-control needsclick text-right" id="oldPassword" placeholder="请输入当前密码">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 hs-padding-left-0 hs-padding-right-0 hs-margin-top-10">新密码</div>
                            <div class="col-xs-9 hs-padding-right-0">
                                <input ng-model="newPassword" type="password" autocomplete="off" class="form-control needsclick text-right" id="" placeholder="请输入新密码" ng-blur="newPasswordBlur()">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 hs-padding-left-0 hs-padding-right-0 hs-margin-top-10">确认新密码</div>
                            <div class="col-xs-9 hs-padding-right-0">
                                <input ng-model="confirmPassword" type="password" autocomplete="off" class="form-control needsclick text-right" id="" placeholder="请输入确认密码" ng-blur="confirmPasswordBlur()">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 hs-margin-bottom-10">
                        <input id="changePasswordBtn" type="submit" class="btn btn-danger btn-lg btn-block" ng-class="{'disabled':!canChangePassword()}" ng-disabled="!canChangePassword()" value="确定" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>