<img src="{{cyUrl}}" height="0" width="0" style="display:none"/>
<div class="scrollable signlogo">
	<div class="scrollable-content">
		<form class="form-inline register">
			<div class="container">
				<div class="row hs-margin-top-10">
					<div class="col-xs-12">
						<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-line"><i class="icon icon-verification icon-sm icon-vertical"></i></span>
									<input ng-model="smsCode" type="text" class="form-control" placeholder="请输入验证码" id="smsCode">
									<span class="input-group-addon input-group"><span class="input-group-addon-right" ng-class="{'bg-warning':remainSeconds <= 0}" ng-bind="tipsSendSmsCodeText" ng-click="sendSmsCode()">58秒后重发</span></span>
								</div>
								<div class="input-group">
									<span class="input-group-addon input-group-addon-line"><i class="icon icon-lock icon-sm icon-vertical"></i></span>
									<input ng-model="password" type="{{show?'text':'password'}}" autocomplete="off" class="form-control" placeholder="请设置密码" clear-id="password" ng-blur="passwordBlur()">
									<span class="input-group-addon" ><span class="icon icon-sm icon-vertical" ng-click="show=!show" ng-class="{'icon-eye-open-gray':!show,'icon-eye-open-yellow':show}"></span></span>
								</div>
								<!--
								<div class="input-group">
									<span class="input-group-addon input-group-addon-line"><i class="icon icon-lock icon-sm icon-vertical"></i></span>
									<input ng-model="confirmPassword" type="password" autocomplete="off" class="form-control" placeholder="请输入确认密码" clear-id="confirmPassword" ng-blur="confirmPasswordBlur()">
									<span class="input-group-addon" clear-for="confirmPassword">×</span>
								</div>
								-->
						</div>
					</div>
				</div>
				<div class="row hs-margin-top-10">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon input-group-addon-line input-group-addon-arrow-down"><i class="icon icon-invitation icon-sm icon-vertical"></i></span>
								<input ng-model="inviteCode" type="tel" class="form-control" ng-change="inviteCode=getCommon().mobileFilter(inviteCode)" placeholder="请输入推荐人手机号码" clear-id="inviteCode">
								<span class="input-group-addon border-tr-radius-5" clear-for="inviteCode"><span class="icon icon-user icon-sm icon-vertical"></span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row hs-margin-top-10">
					<div class="col-xs-12">
						<div class="form-group text-success font-size-12">
							<!--<p>如何获得邀请码</p>-->
							<p>填写推荐人手机号码，和好友一起赚钱！</p>
							<p class="hs-margin-top-10">我已阅读并同意<a class="text-warning" ui-sref="sign.agreementSign">《花生金服注册协议》</a></p>
						</div>
					</div>
				</div>
				<div class="row hs-margin-top-10">
					<div class="col-xs-12">
						<!--没有填写内容默认不可点击-->
						<a class="btn btn-danger btn-block btn-lg" ng-class="{'disabled':!canRegister()}" ng-disabled="!canRegister()" ng-click="register()" id="registerBtn">注册</a>
					</div>
				</div>			
			</div>
		</form>
		<p class="hs-logo text-center"><img src="../images/app/hs-logo.png" alt=""></p>
	</div>
</div>