<img src="{{cyUrl}}" height="0" width="0" style="display:none"/>
<div class="scrollable">
	<div class="scrollable-content">
		<div><img src="../images/app/activity-register.jpg"></div>
		<form class="form-inline activity-register">
			<div class="container">
				<div class="row hs-margin-top-6">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon input-group-addon-line"><i class="icon icon-number icon-sm icon-vertical"></i></span>
								<input ng-model="mobile" type="tel" ng-change="mobile=getCommon().mobileFilter(mobile)" class="form-control" placeholder="请输入手机号码">
							</div>
							<div class="input-group">
								<span class="input-group-addon input-group-addon-line"><i class="icon icon-verification icon-sm icon-vertical"></i></span>
								<input ng-model="smsCode" type="text" class="form-control" placeholder="请输入验证码" id="smsCode">
								<span class="input-group-addon input-group"><span class="input-group-addon-right" ng-class="{'bg-warning':remainSeconds <= 0}" ng-bind="tipsSendSmsCodeText" ng-click="sendSmsCode()">58秒后重发</span></span>
							</div>
							<div class="input-group">
								<span class="input-group-addon input-group-addon-line"><i class="icon icon-lock icon-sm icon-vertical"></i></span>
								<input ng-model="password"  type="{{show?'text':'password'}}" autocomplete="off" class="form-control" placeholder="请设置密码">
								<span class="input-group-addon" ><span class="icon icon-sm icon-vertical" ng-click="show=!show" ng-class="{'icon-eye-open-gray':!show,'icon-eye-open-yellow':show}"></span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="!inviteCode">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon input-group-addon-line input-group-addon-arrow-down"><i class="icon icon-invitation icon-sm icon-vertical"></i></span>
								<input ng-model="inviteCode" type="tel" ng-change="inviteCode=getCommon().mobileFilter(inviteCode)" class="form-control" placeholder="请输入推荐人手机号码">
								<span class="input-group-addon border-tr-radius-5"><i class="icon icon-user icon-sm icon-vertical"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row hs-margin-top-1" ng-if="!inviteCode">
					<div class="col-xs-12">
						<div class="form-group text-success font-size-12">
							<!--<p>如何获得邀请码</p>-->
							<p>填写推荐人手机号码，和好友一起赚钱！</p>
						</div>
					</div>
				</div>
				<div class="row hs-margin-top-10">
					<div class="col-xs-12">
						<!--没有填写内容默认不可点击-->
						<a class="btn btn-danger btn-block btn-lg" ng-class="{'disabled':!canRegister()}" ng-disabled="!canRegister()" ng-click="register()">注册</a>
					</div>
				</div>	
				<div class="row hs-margin-top-10">
					<div class="col-xs-12 text-right font-size-12">
						已有账号,<span class="text-warning" ui-sref="sign.main">立即登录</span>
					</div>
				</div>		
			</div>
		</form>
		<p class="hs-margin-top-10 text-center reagreement">
			<span class="icon-group">
                <i class="icon icon-checkmark-yellow icon-horizontal icon-sm"></i>
                <i class="icon-txt">我已阅读并同意<a class="text-warning" ui-sref="sign.agreementSign" href="/sign/agreementSign">《花生金服注册协议》</a></i>
            </span>
		</p>
	</div>
</div>