<div class="scrollable">
    <div class="scrollable-content" style="overflow: auto">
		<div class="novice-task">
			<div class="main">
		        <div class=""><img src="/images/app/20151117-01.jpg?__IMG_VERSION__"></div>
		        <div class="" ng-show="!novite.hasLogin" ui-sref="sign.main"><img src="/images/app/20151117-02-1.jpg?__IMG_VERSION__" ></div>
		        <div class="" ng-show="novite.hasLogin"><img src="/images/app/20151117-02-2.jpg?__IMG_VERSION__" ></div>
		        <div class="" ng-show="!novite.hasOpenThirdAccount" ui-sref="yeepay.register"><a href="#"><img src="/images/app/20151117-03-1.jpg?__IMG_VERSION__" ></a></div>
		        <div class="" ng-show="novite.hasOpenThirdAccount"><img src="/images/app/20151117-03-2.jpg?__IMG_VERSION__" ></div>
				<div class="" ng-show="!novite.hasOpenThirdAccount" ui-sref="yeepay.register"><img src="/images/app/20151117-04-1.jpg?__IMG_VERSION__" ></a></div>
		        <div class="" ng-show="novite.hasOpenThirdAccount && !novite.hasRecharged" ui-sref="yeepay.recharge"><img src="/images/app/20151117-04-1.jpg?__IMG_VERSION__" ></a></div>
		        <div class="" ng-show="novite.hasRecharged"><img src="/images/app/20151117-04-2.jpg?__IMG_VERSION__" ></div>
				<div class="" ng-show="!novite.isNotNewUser" ui-sref="invest.list"><img src="/images/app/20151117-05-1.jpg?__IMG_VERSION__" ></a></div>
		        <div class="" ng-show="novite.isNotNewUser"><img src="/images/app/20151117-05-2.jpg?__IMG_VERSION__" ></div>
		        <div class=""><img src="/images/app/20151117-06.jpg?__IMG_VERSION__" ></div>
		    </div>
		</div>
	</div>
</div>