<div class="scrollable">
    <div class="scrollable-content">
        <div class="home-banner">
            <uib-carousel interval="5000" no-wrap="noWrapSlides" template-url="scripts/directives/Carousel.tpl.html" custom-carousel no-index="false" no-switch="true">
                <uib-slide ng-repeat="slide in slides" template-url="scripts/directives/Carousel.Slide.tpl.html">
                    <img ng-src="{{slide.imageUrl}}" ng-click="go(slide)" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
        </div>
        <div class="home-project relative">
            <uib-carousel no-wrap="noWrapSlides" template-url="scripts/directives/Carousel.tpl.html"  custom-carousel no-index="true" no-switch="false">
                <uib-slide ng-repeat="project in projects" template-url="scripts/directives/Carousel.Slide.tpl.html">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 hs-padding-right-0 hs-padding-left-0"><h3
                                    ng-bind="project.projectName" class="font-size-16 hs-margin-bottom-0"></h3></div>
                        </div>
                        <div class="row hs-margin-top-10">
                            <div class="col-xs-12">
                                <div class="expected-annual">
                                    <div class="expected-annual-inline"><span>{{project.annualizedRate * 100 | number:1}}<small>%
                                    </small></span><span>预期年化</span></div>
                                    <div ng-if="project.isNewUser == '0'"
                                     class="tip tip-reverse bottom-right font-size-12 tip-new">新手专享
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hs-margin-top-10">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-5 text-left hs-padding-right-0 hs-padding-left-0 font-size-14">起投金额 <span
                                    ng-bind="project.startingAmount" class="text-warning"></span> 元
                            </div>
                            <div class="col-xs-5 text-right hs-padding-right-0 hs-padding-left-0 font-size-14">项目期限
                                <span ng-bind="project.projectDuration" class="text-warning"></span> 个月
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="row hs-margin-top-10">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10 hs-padding-right-0 hs-padding-left-0"><a
                                    class="btn btn-danger btn-block btn-lg"
                                    ui-sref="invest.item.projectDetail({projectId: project.projectId })" ng-bind="project.terminalCodes.indexOf('3')!=-1 ? '立即抢购' : 'APP专享'">立即抢购</a></div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="row hs-margin-top-10">
                            <div class="col-xs-12 hs-padding-right-0 hs-padding-left-0">
                                <p class="text-center text-success footer hs-margin-bottom-0">
                                           <span class="icon-group">
                                                <i class="icon icon-shield icon-horizontal icon-x-sm"></i>
                                                <i class="icon-txt">金刚花生保障计划</i>
                                            </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </uib-slide>
            </uib-carousel>
            <div class="novice-task-fixed" ui-sref="account.novice.main" ng-if="!(accountInfo.isNewUser-0)">
                <div class="novice-treasure-animation">
                    <div class="text">
                        <img src="../images/app/icon_novice_task_5.png">
                    </div>
                    <div class="jewelry"><img src="../images/app/icon_novice_task_9.png"></div>
                    <div class="light">
                        <img class="light-img" src="../images/app/icon_novice_task_4.png">
                        <div class="light-mask-top"> <img src="../images/app/icon_novice_task_3.png"></div>
                        <div class="light-mask-bottom"></div>
                    </div>
                    <div class="treasure-chest">
                        <img src="../images/app/icon_novice_task_1.png">
                        <img src="../images/app/icon_novice_task_2.png">
                        <img src="../images/app/icon_novice_task_8.png">
                    </div>
                    <div class="flashlight">
                        <img src="../images/app/icon_novice_task_6.png">
                    </div>
                    <div class="flashlight-left"><img src="../images/app/icon_novice_task_7.png"></div>
                    <div class="flashlight-right"><img src="../images/app/icon_novice_task_7.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
