<div class="scrollable">
    <div class="scrollable-content hjxc">
        <div class="banner"><img src="../images/app/vip/img_banner.png?__IMG_VERSION__" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-info hs-padding-top-10 hs-padding-bottom-10">
					花生金服每位投资用户(投资项目不含活花生)可免费获得15元现金代金券一张（仅可领取1次）。抵用券可抵扣本次消费金额，每桌可使用多张代金券，此优惠可与餐厅的其他优惠活动叠加使用。
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-danger btn-lg center-block" href="" id="grantTicketBtn" ng-if="accountInfo.isNewUser!=0 && tickets.length==0"  ng-click="grantTicket()">立即领取</a>
                    <a class="btn btn-danger btn-lg center-block disabled" href="" ng-if="accountInfo.isNewUser!=0 && tickets.length>0">已领取</a>
                    <a class="btn btn-danger btn-lg center-block disabled" href="" ng-if="accountInfo.isNewUser==0">此活动为投资用户专享</a>
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li ng-repeat="ticket in tickets" class="list-group-item">
                <p class="img" ng-class="{'hjxc-active':true}">
                    <span class="num">￥<b>15</b>1张</span>
                    <span class="name"><img src="../images/app/vip/img_logo_danshuanghao@2x.png?__IMG_VERSION__" ></span>
                    <span class="icon icon-consumption" ng-if="ticket.status==2"></span>
                    <span class="icon icon-consumption" ng-if="ticket.status==3"></span>
                </p>
                <p class="txt">
                    <b>单双号嗨啤烧烤串吧 · 代金券</b>
                    <span>券号:{{ticket.ticketCode}}</span>
                    <span>领取日期:{{ticket.grantDate}}</span>
                </p>
            </li>
        </ul>
    </div>
</div>