<div class="scrollable">
    <div class="scrollable-content ranking">
    	<div class="ranking-top"><img src="../images/app/top/Top.png"></div>
    	<div class="ranking-main">
    		<div class="ranklist ranking-01">
    			<p>
    				<span>{{hasLogin() ?getCommon().darkMobile(accountInfo.mobile) : '花生金服贵客'}},您好：</span><br>
    				<span>您本周的投资额:<span ng-bind="hasLogin() ?investmentWeek.myAmount : '-'">100,000.00</span></span><br>
    				<span>您的周排名:<span ng-bind="hasLogin() ? investmentWeek.myRanking : '-'">20</span></span>
    			</p>
    			<hr>
    			<p>快来投资提升排名拿奖品吧</p>
    			<p ng-if="hasLogin()">
					<a href="" ng-if="getCommon().inApp()"  ng-click="getCommon().getHsbank().investProject()"><b>立即投资</b> >></a>
					<a href="" ng-if="!getCommon().inApp()" ui-sref="invest.list"><b>立即投资</b> >></a>
				</p>
    			<p ng-if="!hasLogin()"><a href="" ng-click="getCommon().toLogin()"><b>查看自己排名</b></a></p>
    		</div>
    		<div class="ranklist ranking-02"><img src="../images/app/top/Investment_list.png"></div>
    		<div class="ranklist ranking-03">
				<ui-state id="topTab" default="1"></ui-state>
    			<div class="detail">
    				<div class="nav-tabs">
    					<a ui-set="{topTab:1}" ui-class="{'btn-danger':topTab==1,'btn-primary':topTab!=1}" class="btn" href="javascript:;">周排行</a>
    					<a ui-set="{topTab:2}"ui-class="{'btn-danger':topTab==2,'btn-primary':topTab!=2}" class="btn" href="javascript:;">月排行</a>
    					<span><img src="../images/app/top/tabble_bar.png"></span>
    				</div>
    				<div class="context">
    					<table ui-if="topTab==1">
    						<tr>
    							<th>排名</th>
    							<th>用户名</th>
    							<th>投资额(元)</th>
    						</tr>
    						<tr  ng-repeat="invest in investmentWeek.recordList">
    							<td ng-if="$index<3"><span ng-class="{'yellow' : $index==0,'gray' : $index==1 ,'orange':$index==2}" ng-bind="$index+1"></span></td>
    							<td ng-if="$index>=3" ng-bind="$index+1"></td>
    							<td ng-bind="invest.mobile">130***1234</td>
    							<td ng-bind="invest.amount|number:2">100,000.00</td>
    						</tr>
    					</table>
						<table ui-if="topTab==2">
							<tr>
								<th>排名</th>
								<th>用户名</th>
								<th>投资额(元)</th>
							</tr>
							<tr  ng-repeat="invest in investmentMonth.recordList">
								<td ng-if="$index<3"><span ng-class="{'yellow' : $index==0,'gray' : $index==1 ,'orange':$index==2}" ng-bind="$index+1"></span></td>
								<td ng-if="$index>=3" ng-bind="$index+1"></td>
								<td ng-bind="invest.mobile">130***1234</td>
								<td ng-bind="invest.amount|number:2">100,000.00</td>
							</tr>
						</table>
                        <p class="text-danger hs-padding-left-7 hs-margin-bottom-0">*注：排名每12小时更新一次！</p>
    				</div>
    			</div>
    		</div>
    		<div class="ranklist ranking-04"></div>
    		<div class="ranklist ranking-05"><img ng-if="getService('UAService').isWeChatBrowser()" src="../images/app/top/QR_code.png"><img ng-if="!getService('UAService').isWeChatBrowser()" src="../images/app/top/QR_code-app.png"></div>
    		<div class="ranklist ranking-06"><a href="" ng-click="getCommon().toHome()"><img src="../images/app/top/Enter.png"></a></div>
    	</div>
    </div>
</div>