<div class="scrollable">
    <div class="scrollable-content financedetail" ui-scroll-bottom="loadMore()" ui-scroll-top="loadMore(true)">
		<ui-state id="activeTab" default="2" ng-init="activeTab=2"></ui-state>
		<div class="btn-group justified nav-tabs invest-top financedetail-top">
		  <a class="btn btn-default font-size-16 relative border-top-0" ui-class="{'active': activeTab == 1}" ui-set="{'activeTab': 1}" ng-click="activeTab=1">
			  收益
			  <span class="line"></span>
		  </a>
		  <a class="btn btn-default font-size-16 relative border-top-0" ui-class="{'active': activeTab == 2}" ui-set="{'activeTab': 2}" ng-click="activeTab=2">
			  投资
			  <span class="line"></span>
		  </a>
		  <a class="btn btn-default font-size-16 relative border-top-0" ui-class="{'active': activeTab == 3}" ui-set="{'activeTab': 3}" ng-click="activeTab=3">
			  赎回
			  <span class="line"></span>
		  </a>
		</div>
		<loading>
		<ul class="list-group menu hs-margin-top-10" ui-if="activeTab == 1">
			<div class="text-success hs-padding-left-10 hs-padding-bottom-10 font-size-12">'+' 每日收益， '-' 提取收益</div>
			<div ng-repeat="redeemInterest in redeemInterests" ng-if="redeemInterests.length>0">
				<li class="list-group-item overflow-hidden" ng-if="redeemInterest.changeVal>=0">
					<span class="pull-left">{{redeemInterest.opDt}}</span><span class="pull-right">+{{redeemInterest.changeVal | number : 4}}</span>
				</li>
				<li class="list-group-item overflow-hidden"  ng-if="redeemInterest.changeVal<0">
					<span class="pull-left">{{redeemInterest.opDt}}</span><span class="pull-right">{{redeemInterest.changeVal | number : 2}}</span>
				</li>
			</div>
			<div class="empty text-center show" ng-if="redeemInterests.length<=0">
	            <span class="icon-group">
	                <i class="icon icon-default icon-folder icon-vertical icon-x-lg"></i>
	                <i class="icon-txt text-success">暂时没有数据哦</i>
	            </span>
			</div>
		</ul>
		<ul class="list-group menu hs-margin-top-10" ui-if="activeTab == 2">
			<div ng-repeat="invest in invests" ng-if="invests.length>0">
				<li class="list-group-item overflow-hidden">
					<span class="pull-left">{{invest.opDt}}</span><span class="pull-right">{{invest.changeVal  | number : 0}}</span>
				</li>
			</div>
			<div class="empty text-center show" ng-if="invests.length<=0">
	            <span class="icon-group">
	                <i class="icon icon-default icon-folder icon-vertical icon-x-lg"></i>
	                <i class="icon-txt text-success">暂时没有数据哦</i>
	            </span>
			</div>
		</ul>
		<ul class="list-group menu hs-margin-top-10" ui-if="activeTab == 3">
			<div ng-repeat="redeemPrincipal in redeems" ng-if="redeems.length>0">
				<li class="list-group-item overflow-hidden">
					<span class="pull-left">{{redeemPrincipal.opDt}}</span><span class="pull-right">{{redeemPrincipal.changeVal  | number : 0}}</span>
				</li>
			</div>
			<div class="empty text-center show" ng-if="redeems.length<=0">
	            <span class="icon-group">
	                <i class="icon icon-default icon-folder icon-vertical icon-x-lg"></i>
	                <i class="icon-txt text-success">暂时没有数据哦</i>
	            </span>
			</div>
		</ul>
		</loading>
	</div>
</div>