<div class="scrollable">
    <div class="scrollable-content currentintro">
		<ui-state id="activeTab" default="2"></ui-state>
		<!-- <div class="btn-group justified nav-tabs">
			<a class="btn btn-default font-size-14 border-top-0" ui-class="{'active': activeTab == 1}" ui-set="{'activeTab': 1}">产品介绍</a>
			<a class="btn btn-default font-size-14 border-top-0" ui-class="{'active': activeTab == 2}" ui-set="{'activeTab': 2}">常见问题</a>
		</div> -->
		<ul class="list-group menu hs-margin-top-10" ui-if="activeTab == 1">
			<li class="list-group-item border-top-0">
				<h4 class="font-size-13">项目简介 </h4>
				<p class="text-success font-size-13" ng-bind-html="currentProjectDetail.introduce"></p>
			</li>
			<li class="list-group-item">
				<h4 class="font-size-13">投资范围</h4>
				<p class="text-success font-size-13" ng-bind-html="currentProjectDetail.investmentScope"></p>
			</li>
			<li class="list-group-item">
				<h4 class="font-size-13">购买规则</h4>
				<p class="text-success font-size-13" ng-bind-html="currentProjectDetail.buyRule"></p>
			</li>
			<li class="list-group-item">
				<h4 class="font-size-13">提取到账时间</h3>
				<p class="text-success">T+1</p>
			</li>
			<li class="list-group-item">
				<h4 class="font-size-13">计息规则</h3>
				<p class="text-success" ng-bind-html="currentProjectDetail.interestCalculateRule"></p>
			</li>
			<li class="list-group-item">
				<h4 class="font-size-13">费用</h3>
				<p class="text-success" ng-bind-html="currentProjectDetail.fee"></p>
			</li>
		</ul>
		<div ui-if="activeTab == 2">
			<p class="text-muted hs-padding-top-10 hs-padding-left-10 font-size-13">收益</p>
			<ul class="list-group menu hs-margin-top-10 hs-margin-bottom-0" >
				<li class="list-group-item border-top-0">
					<h4 class="font-size-13">1.收益是如何计算的？</h4>
					<p class="text-success font-size-13">活花生的收益每日结算，投资当日开始计息，每日利息在次日结算。<br>
					每日收益 =计息金额*昨日预期年化收益率/365<br>
						举例：您当日投资10000元，预期年化收益率为6.8%，代入计算公式，您的当日收益为：1.86元。</p>
				</li>
				<li class="list-group-item border-bottom-0">
					<h4 class="font-size-13">2.什么时候可以看到收益？</h4>
					<p class="text-success font-size-13">一般情况下，您可以在投资后的第二日凌晨看到收益。由于当日收益次日到账，您当日看到收益为前一日收益。</p>
				</li>
			</ul>
			<p class="text-muted hs-padding-top-10 hs-padding-left-10 font-size-13">投资</p>
			<ul class="list-group menu hs-margin-top-10 hs-margin-bottom-0" >
				<li class="list-group-item border-top-0 border-bottom-0">
					<h4 class="font-size-13">3.每次加入活花生时的可购买额度是怎么得出的？</h4>
					<p class="text-success font-size-13">系统默认每人加入活花生总金额不得超过100,000元，主要是为了公平的向每位用户提供投资机会。每次加入活花生的最大可购买额度为：100,000元减去您当前的活花生投资总额。</p>
				</li>
			</ul>
			<p class="text-muted hs-padding-top-10 hs-padding-left-10 font-size-13">赎回</p>
			<ul class="list-group menu hs-margin-top-10 hs-margin-bottom-0" >
				<li class="list-group-item border-top-0">
					<h4 class="font-size-13">4.赎回到账户有限制吗？</h4>
					<p class="text-success font-size-13">活花生支持随时发起赎回，每日不限赎回次数，但是赎回金额必须为1元的整数倍，赎回的资金当日没有利息。</p>
				</li>
				<li class="list-group-item">
					<h4 class="font-size-13">5.申请赎回的资金什么时间可以到账？</h4>
					<p class="text-success font-size-13">系统在您提出赎回申请后即刻为您进行债权转让，资金预计于1个工作日内（节假日顺延）入账您的账户。</p>
				</li>
				<li class="list-group-item border-bottom-0">
					<h4 class="font-size-13">6.赎回的资金会到哪里？</h4>
					<p class="text-success font-size-13">赎回成功后，资金会回到用户的花生金服可用余额中。</p>
				</li>
			</ul>
			<p class="text-muted hs-padding-top-10 hs-padding-left-10 font-size-13">安全</p>
			<ul class="list-group menu hs-margin-top-10" >
				<li class="list-group-item border-top-0">
					<h4 class="font-size-13">8.活花生中的借款项目有何安全保障？</h4>
					<p class="text-success font-size-13">活花生中的借款项目100%适用于平台风险备用金制度以及阳光保险保障。</p>
				</li>
				<li class="list-group-item border-bottom-0">
					<h4 class="font-size-13">9.花生金服投资组合的分散投资策略是什么？</h4>
					<p class="text-success font-size-13">
					活花生秉承组合投资的原则，协同合作机构，选取多种无风险关联的资产项目，进行平台系统匹配，保证用户投资收益。</p>
				</li>
			</ul>
		</div>
	</div>
</div>