<div class="scrollable">
	<div class="scrollable-content invest-buy">
		<form novalidate="novalidate">
			<p class="hs-padding-left-10 hs-padding-top-10">您的可购买额度：<span class="text-warning">{{accountInfo.current.availableAmount | number :0}}</span>元<img class="icon icon-sm-invest icon-vertical hs-margin-left-5" src="../images/icon/icon_explain@2x.png" ui-turn-on="investbuyPop"></p>
			<ul class="list-group menu hs-margin-bottom-10">
				<li class="list-group-item">
					<span>本次可投金额(元)</span>
					<span class="menu-text-right pull-right text-success">{{currentProjectDetail.amount | number :0}}</span>
				</li>
				<li class="list-group-item">
					<span>可用余额(元)</span>
					<span class="menu-text-right pull-right text-success">{{accountInfo.goldBalance | number :2}}</span>
				</li>
				<li class="list-group-item hs-margin-top-7">
					<div class="container">
						<div class="row">
							<div class="col-xs-4 hs-padding-right-0 hs-padding-left-0"><span>投资金额(元)</span></div>
							<div class="col-xs-8 hs-padding-right-0 hs-padding-left-0 text-right"><input ng-model="invest.amount" class="input-nooutline text-right text-success" type="number" input-number="0" placeholder="请输入投资金额" onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d.]/g,''))"></div>
						</div>
					</div>
				</li>
			</ul>
			<div class="font-size-12 hs-margin-bottom-10">
				<p class="pull-right hs-padding-right-10" ng-if="invest.amount-accountInfo.goldBalance>0">还需充值：<span class="text-warning">{{invest.amount-accountInfo.goldBalance | number :2}}</span>元</p>
			</div>
			<div class="container hs-margin-bottom-10">
				<div class="row hs-margin-top-10">
					<div class="col-xs-12">
						<p class="text-success">点击确认代表您同意<a class="text-warning hs-padding-top-10 hs-margin-top-10"  ui-sref="account.current.agreement">《活花生投资协议》</a></p>
					</div>
				</div>
				<div class="row invest-buy-btn">
					<div class="col-xs-12">
						<button id="confirmInvest" class="btn btn-danger btn-lg" ng-class="{'disabled':!canBuy()}" ng-disabled="!canBuy()" ng-if="invest.amount-accountInfo.goldBalance <= 0" ng-click="toCurrentInvest()">确认购买</button>
						<button id="recharge" class="btn btn-danger btn-lg"  ng-if="invest.amount-accountInfo.goldBalance > 0" ng-click="getRechargeUrl(invest.amount-accountInfo.goldBalance)">立即充值</button>
						<!--<button id="confirmInvest" class="btn btn-danger btn-lg" ng-if="investAmount-accountInfo.goldBalance <= 0 && investAmount <= currentProjectDetail.amount && investAmount <= accountInfo.current.availableAmount" ng-click="toCurrentInvest()">确认购买</button>-->
						<!--<button id="confirmInvest" class="btn btn-danger btn-lg disabled" ng-if="investAmount-accountInfo.goldBalance <= 0 && (investAmount > currentProjectDetail.amount || investAmount > accountInfo.current.availableAmount)">确认购买</button>-->
						<!--<button class="btn btn-danger btn-lg" ng-if="investAmount-accountInfo.goldBalance > 0 && investAmount <= currentProjectDetail.amount && investAmount <= accountInfo.current.availableAmount" ng-click="getRechargeUrl(investAmount-accountInfo.goldBalance)">立即充值</button>-->
						<!--<button id="confirmInvest" class="btn btn-danger btn-lg disabled" ng-if="investAmount-accountInfo.goldBalance > 0 && (investAmount > currentProjectDetail.amount || investAmount > accountInfo.current.availableAmount )">确认购买</button>-->
					</div>
				</div>
				<div class="row invest-buy-btn">
					<div class="col-xs-12">
						<p class="text-success hs-margin-bottom-10 hs-margin-top-10">
							温馨提示：<br>
							即将进入支付流程，如果投资取消或者失败，您的资金将会冻结大约半个小时，稍后会自动退回您的账户。
						</p>
					</div>
				</div>
			</div>
			<!--
            <p class="text-center text-success footer hs-margin-top-10 hs-padding-top-10">
                <span class="icon-group">
                    <i class="icon icon-shield icon-horizontal icon-x-sm"></i>
                    <i class="icon-txt">账户资金由易宝支付托管，安全可靠</i>
                </span>
            </p> -->
		</form>
	</div>
</div>
<div class="modal investbuyPop" ui-if="investbuyPop" ui-state="investbuyPop" ui-default="false">
	<div class="modal-backdrop in"></div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body text-center">
				<p class="hs-margin-bottom-5 text-success">可购买额度=个人总限额-已投活花生金额</p>
				<p class="hs-margin-bottom-5 text-success">每位用户活期投资个人总限额:10万元</p>
			</div>
			<div class="modal-footer">
				<a ui-turn-off="investbuyPop" class="text-warning center-block text-center font-size-16">确定</a>
			</div>
		</div>
	</div>
</div>