<div class="scrollable">
    <div class="scrollable-content investsuccess">
		<p class="text-center"><span class="icon icon-checkmark-yellow"></span></p>
		<p class="text-warning text-center font-size-16">恭喜您，成功投资活花生{{amount}}元</p>
		<p class="text-info text-center font-size-16 hs-margin-bottom-10">本次投资今日开始计息</p>
		<ul class="list-group menu hs-margin-top-10 hs-padding-top-10 clearfix">
			<li class="list-group-item border-top-0" ui-sref="account.current.myCurrent">
				<span class="font-size-16">我的活花生</span>
				<i class="menuarrow menuarrow-right pull-right"></i>
			</li>
			<li class="list-group-item" ui-sref="invest.list.project">
				<span class="font-size-16">其他项目</span>
				<i class="menuarrow menuarrow-right pull-right"></i>
			</li>
		</ul>
	</div>
</div>