<div class="scrollable">
    <div class="scrollable-content mycurrent-detail">
    	<div class="list-group-item border-bottom-0 hs-margin-bottom-10">
    		<p class="top01">
    			<span class="text-center text-info">年化收益率</span>
    			<span class="text-center text-warning hs-margin-top-5">{{myCurrentDetail.project.annualizedRate | number : 1 }}<small>%</small></span>
    		</p>
    		<div class="top02">
    			<p class="text-center">
	    			<span class="text-info">本期可投金额(元)</span>
	    			<span ng-if="myCurrentDetail.project.status == 3" class="text-warning">{{myCurrentDetail.project.amount | number : 2}}</span>
	    			<span ng-if="myCurrentDetail.project.status != 3" class="text-warning">0</span>
	    		</p>
	    		<p class="text-center">
	    			<span class="text-info">可购买额度(元)</span>
	    			<span class="text-warning">{{accountInfo.current.availableAmount | number : 2}}</span>
	    		</p>
    		</div>
    	</div>
    	<div class="list-group-item border-bottom-0 hs-margin-bottom-10 md">
    		<p class="hs-padding-top-5"><span class="pull-left text-info">昨日收益(元)</span><span class="pull-right text-info" ng-click="financeDetail()">查看明细></span></p>
    		<p class="text-center text-warning hs-padding-top-10 hs-margin-bottom-1 hs-margin-top-10">{{myCurrentDetail.account.interestOfYesterday | number : 2}}</p>
    	</div>
    	<ul class="list-group bottom">
    		<li class="list-group-item">
    			<span class="pull-left text-info">万元收益(元)</span><span class="pull-right text-warning02">{{myCurrentDetail.project.interestOf10000Yuan | number : 2}}</span>
    		</li>
    		<li class="list-group-item">
    			<span class="pull-left text-info">持有金额(元)</span><span class="pull-right text-warning02">{{myCurrentDetail.account.principal | number : 2}}</span>
    		</li>
    		<li class="list-group-item">
    			<span class="pull-left text-info">累计收益(元)</span><span class="pull-right text-warning02">{{myCurrentDetail.account.totalInterest | number : 4}}</span>
    		</li>
    		<li class="list-group-item">
    			<span class="pull-left text-info">可提取收益(元)</span><span class="pull-right text-warning02">{{myCurrentDetail.account.interest | number : 4}}</span><span class="label label-warning pull-right" ng-click="redeemInterest()">提取</span>
    		</li>
    	</ul>
    	<div class="container hs-margin-top-10 hs-margin-bottom-10">
			<div class="row">
				<div class="col-xs-6 btn-area-right hs-padding-right-7">
					<input type="button" class="btn btn-block btn-lg btn-danger-reverse" value="赎回" ng-click="redeemPrincipal()">
				</div>
				<div class="col-xs-6 btn-area-left hs-padding-left-7">
					<input type="button" class="btn btn-danger btn-block btn-lg" value="投资" ng-class="{'disabled':!canInvest()}" ng-disabled="!canInvest()" ng-click="invest()">
				</div>
			</div>
		</div>
	</div>
</div>
<div ui-content-for="navbarAction">
    <span class="navbarRight"><span class="icon icon-exclamation-white-top" ui-sref="account.current.intro"></span></span>
</div>