<div class="scrollable">
    <div class="scrollable-content">
        <form novalidate="novalidate">
	        <ul class="list-group menu hs-margin-bottom-10">
	            <li class="list-group-item">
	                <span>可提取收益金额(元)</span>
	                <span class="menu-text-right pull-right text-success">{{amount}}</span>
	            </li>
	            <li class="list-group-item hs-margin-top-7">
	                <div class="container">
	                    <div class="row">
	                        <div class="col-xs-4 hs-padding-right-0 hs-padding-left-0"><span>提取金额(元)</span></div>
	                        <div class="col-xs-8 hs-padding-right-0 hs-padding-left-0 text-right"><input ng-model="redeem.interest" class="input-nooutline text-right text-success" type="number" input-number="2" value="请输入提取金额"></div>
	                    </div>
	                </div>
	            </li>
	        </ul>
	        <div class="container hs-margin-bottom-10">
	            <div class="row invest-buy-btn">
	                <div class="col-xs-12">
	                    <button class="btn btn-danger btn-lg btn-block" ng-class="{'disabled':!canRedeemInterest()}" ng-disabled="!canRedeemInterest()" ng-click="redeemInterest()">提取</button>
	                </div>
	            </div>
	            <div class="row invest-buy-btn">
	                <div class="col-xs-12">
	                    <p class="text-success hs-margin-bottom-10 hs-margin-top-10 font-size-12">
	                        温馨提示：<br>
	                        1.提取收益即时到账。<br>
							2.活花生投资当日开始计息，每日利息在次日结算。
	                    </p>
	                </div>
	            </div>
	        </div>
        </form>
    </div>
</div>