<div class="scrollable">
    <div class="scrollable-content">
        <form novalidate="novalidate">
	        <ul class="list-group menu hs-margin-bottom-10">
	            <li class="list-group-item">
	                <span>可赎回金额(元)</span>
	                <span class="menu-text-right pull-right text-success">{{amount|number:0}}</span>
	            </li>
	            <li class="list-group-item hs-margin-top-7">
	                <div class="container">
	                    <div class="row">
	                        <div class="col-xs-4 hs-padding-right-0 hs-padding-left-0"><span>赎回金额(元)</span></div>
	                        <div class="col-xs-8 hs-padding-right-0 hs-padding-left-0 text-right"><input ng-model="redeem.principal" class="input-nooutline text-right text-success" type="number" input-number="0" placeholder="请输入赎回金额" onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d.]/g,''))"></div>
	                    </div>
	                </div>
	            </li>
	        </ul>
	        <div class="container hs-margin-bottom-10">
	            <div class="row invest-buy-btn">
	                <div class="col-xs-12">
	                    <button class="btn btn-danger btn-lg btn-block" ng-class="{'disabled':!canRedeemPrincipal()}" ng-disabled="!canRedeemPrincipal()" ng-click="redeemPrincipal()">赎回</button>
	                </div>
	            </div>
	            <div class="row invest-buy-btn">
	                <div class="col-xs-12">
	                    <p class="text-success hs-margin-bottom-10 hs-margin-top-10 font-size-12">
							赎回说明：<br>
							1.活花生支持随时发起赎回，每日不限赎回次数，但是赎回金额必须为1元的整数倍，赎回的资金当日不利息。<br>
							2.申请赎回的资金预计于1个工作日内(节假日顺延)入账您的账户。<br>
							3.若遇巨额赎回情况，花生金服有权拒绝客户当日的转出申请，您可以次日继续申请转出，具体以公司通知为准。
	                    </p>
	                </div>
	            </div>
	        </div>
        </form>
    </div>
</div>