<div class="boundbankcard">
	<div class="text-center img-card" ng-hide="isShowIframe">
		<a class="btn icon icon-default icon-vertical btn-lg">
		    <img src="/images/icon/icon_yinhangka_grey.png?__IMG_VERSION__">
		</a>
		<p class="hs-margin-bottom-10">请绑定您的银行卡</p>
		<p class="font-size-12 text-danger">暂不支持平安银行卡绑定！</p>
	</div>
	<ul class="list-group menu">
	    <li class="list-group-item text-center">
			<span class="text-warning" ng-click="getBindBankCardUrl()" id="bindBankCardBtn">绑定银行卡</span>
	    </li>
	</ul>
</div>