<div class="container gotoyeepay">
	<div class="row">
		<div class="col-xs-12 text-center text-tip">
			<p>正在前往易宝支付，请稍后...</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<img src="/images/icon/icon_ktybzf_hsjf.png?__IMG_VERSION__">
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 text-center img-loading">
			<img src="/images/icon/icon_loading_yeepay.gif?__IMG_VERSION__">
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 text-center">
			<img src="/images/icon/icon_ktybzf_ybzf.png?__IMG_VERSION__">
		</div>
	</div>	
</div>