<div class="scrollable">
	<div class="scrollable-content">
		<ul class="list-group menu log">
		    <li class="list-group-item" ng-repeat="bank in banks">
		        <span class="icon-group">
		        	<span class="icon icon-bank-{{bank.icon}} icon-horizontal icon-md icon-circle"></span>
		        	<span class="icon-txt text-left text-muted">{{bank.name}}<span class="text-success" style="display: block;">最高单笔{{bank.single}}，单日{{bank.day}}，单月限额{{bank.month}}</span></span>
		        </span>
		    </li>
		</ul>
	</div>
</div>