<form class="form-inline" novalidate="novalidate">
	<ul class="list-group menu recharge">
		<li class="list-group-item" ng-if="accountInfo.hasBindBankCard == '1'">
	        <span class="icon-group">
	        	<span class="icon icon-horizontal icon-md icon-circle icon-bank-{{accountInfo.bankCard.bankCode.toLowerCase()}}" style=""></span>
	        	<span class="icon-txt text-left text-muted ng-binding">{{accountInfo.bankCard.bankName}}<i class="quick-payment-label">快捷支付</i><small class="text-info" style="display: block;" ng-bind="accountInfo.bankCard.cardNo"></small></span>
	        </span>
			<!-- <span class="icon icon-explain circle-tip pull-right" tip-popover msg="如需修改绑定的银行卡，请拨打客服电话：400-969-6599" direction="left" fixed-width="228"></span> -->
		</li>
		<li class="list-group-item transparent-bg" ng-if="accountInfo.hasBindBankCard == '1'">
			<span class="text-info font-size-12">限额：{{accountInfo.bankCard.quota/10000}}万/笔，{{accountInfo.bankCard.dayQuota/10000}}万/日</span>
		</li>
		<li class="list-group-item" ng-if="accountInfo.hasBindBankCard == '1'"	>
			<span class="text-muted">可用余额(元)</span>
			<span class="pull-right ng-binding"  ng-bind="accountInfo.availableBalance | number:2"></span>
		</li>
		<li class="list-group-item">
			<span class="text-muted">充值金额(元)</span>
			<span class="pull-right"><input type="number" input-number="2" ng-model="amount" class="form-control text-right hs-padding-0" id="" placeholder="建议充值100以上金额" id="amount"></span>
		</li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!--没有填写内容默认不可点击-->
				<input type="submit" class="btn btn-danger btn-lg btn-block" ng-if="!(amount > 100000000)" ng-class="{'disabled':!isAmount(amount)}" ng-click="getRechargeUrl(amount)" ng-disabled="!isAmount(amount)" value="立即充值" />
				<input type="submit" class="btn btn-danger btn-lg btn-block disabled" ng-if="amount > 100000000" ng-disabled="true" value="充值金额不能大于1亿元" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group font-size-12 text-success">
					<p class="hs-margin-bottom-10 hs-margin-top-3">温馨提示：<!-- <span class="pull-right text-warning hide">网银大额充值限额</span><span class="pull-right text-warning" ui-sref="yeepay.range">快捷支付支持银行及限额</span> --></p>
					<p>1.目前充值不收取任何费用；<br>2.您的资金将从银行卡转入您的第三方资金托管账户；<br>3.充值成功后，请等待2~5分钟刷新页面，如果您超过1小时后仍未收到充值，请联系花生金服客服400-969-6599。</p>
					<!-- <p>1.充值操作需要您通过银行网银转账至易宝支付。充值成功后5-10分钟到账，您可以去我的账户查看。如果超过1小时后仍未收到充值，请与我们客服联系（400-969-6599）</p>
					<p>2 由于快捷支付额度限制，如果您需要大额充值，请登录www.hsbank360.com进行充值操作。</p> -->
				</div>
			</div>
		</div>
	</div>
</form>
<p class="text-center text-success footer">
	<span class="icon-group">
	    <i class="icon icon-shield icon-horizontal icon-x-sm"></i>
	    <i class="icon-txt">账户资金由易宝支付托管，安全可靠</i>
	</span>
</p>