<div class="scrollable">
	<div class="scrollable-content my-invest">
		<!--
        <ul class="list-group menu">
            <li class="list-group-item">
                <span class="icon icon-primary icon-creditor-assets icon-horizontal icon-md">
                  债权资产
                </span>
                <span class="menu-text-right pull-right">199.000.00元</span>
            </li>
            <li class="list-group-item">
                <span class="icon icon-primary icon-creditor-rights icon-horizontal icon-md">
                  债权收益
                </span>
                <span class="menu-text-right pull-right">199.000.00元</span>
            </li>
            <li class="list-group-item">
                <span class="text-info" ng-bind="investmentList.tipMsg">距下期收款还有2天 金额 <small>10.22</small>元</span>
                <i class="menuarrow menuarrow-right pull-right"></i>
            </li>
        </ul>
        -->

		<ui-state id='activeTab' default='{{activeTab}}'></ui-state>

		<div class="btn-group justified nav-tabs">
			<a class="btn btn-default" ui-class="{'active': activeTab == 1}" ui-set="{'activeTab': 1}">投标中</a>
			<a class="btn btn-default" ui-class="{'active': activeTab == 2}" ui-set="{'activeTab': 2}">持有中</a>
			<a class="btn btn-default" ui-class="{'active': activeTab == 3}" ui-set="{'activeTab': 3}">已结束</a>
		</div>
		<!-- 投标中列表 -->
		<ul class="list-group menu my-invest-tabcontent" ng-repeat="investmentProject in investmentTenderingList | orderBy:sortField:reverse" ui-if="activeTab == 1"  ng-click="detail(investmentProject,1)">
			<li class="list-group-item my-invest-tabcontent-header">
				<div class="container">
					<div class="row">
						<div class="col-xs-8 hs-margin-top-3">
                            <span class="icon-group">
                                <span class="icon icon-hs-{{investmentProject.projectType}} icon-horizontal icon-md text-muted"></span>
                                <span class="icon-txt" ng-bind="investmentProject.projectName">
                                </span>
                            </span>
						</div>
						<div class="col-xs-4 text-right">
							<span class="my-invest-label text-warning">&nbsp;投标中&nbsp;</span>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="my-invest-column">
					<dl class="text-center">
						<dt>投资金额
							<small>(元)</small>
						</dt>
						<dd ng-bind="investmentProject.amount | number:2">600.089.33</dd>
					</dl>
					<dl class="text-center">
						<dt>已获收益
							<small>(元)</small>
						</dt>
						<dd ng-bind="investmentProject.receivedProfit | number:2">6089.33</dd>
					</dl>
					<dl class="text-center">
						<dt>待收收益
							<small>(元)</small>
						</dt>
						<dd ng-bind="investmentProject.willProfit | number:2"></dd>
					</dl>
				</div>
			</li>
			<li class="list-group-item my-invest-date">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<span class="icon-group">
		                        <span class="icon icon-clock-three icon-horizontal icon-sm"></span>
		                        <span class="icon-txt text-success">
		                        	<span ng-bind="investmentProject.opDt">2015-09-03</span>
		                        	投资--
			                        <span ng-bind="investmentProject.lastRepaymentDate">2015-09-03</span>到期</span>
		                        </span>
		                    </span>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<!-- 持有中列表 -->
		<ul class="list-group menu my-invest-tabcontent" ng-repeat="investmentProject in investmentHoldingList | orderBy:sortField:reverse" ui-if="activeTab == 2"  ng-click="detail(investmentProject,2)">
			<li class="list-group-item my-invest-tabcontent-header">
				<div class="container">
					<div class="row">
						<div class="col-xs-6 hs-margin-top-3">
                            <span class="icon-group">
                                <span class="icon icon-hs-{{investmentProject.projectType}} icon-horizontal icon-md text-muted"></span>
                                <span class="icon-txt" ng-bind="subString(investmentProject.projectName, 10)">
                                </span>
                            </span>
						</div>
						<div class="col-xs-6 text-right">
							<span class="my-invest-label">剩余{{investmentProject.remainingDays}}天还完</span>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="my-invest-column">
					<dl class="text-center">
						<dt>投资金额
							<small>(元)</small>
						</dt>
						<dd ng-bind="investmentProject.amount | number:2">600.089.33</dd>
					</dl>
					<dl class="text-center">
						<dt>已获收益
							<small>(元)</small>
						</dt>
						<dd ng-bind="investmentProject.receivedProfit | number:2">6089.33</dd>
					</dl>
					<dl class="text-center">
						<dt>待收收益
							<small>(元)</small>
						</dt>
						<dd ng-bind="investmentProject.willProfit | number:2">6089.33</dd>
					</dl>
				</div>
			</li>
			<li class="list-group-item my-invest-date">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<span class="icon-group">
		                        <span class="icon icon-clock-three icon-horizontal icon-sm"></span>
		                        <span class="icon-txt text-success">
			                        <span ng-bind="investmentProject.opDt">2015-09-03</span>
			                        投资--
			                        <span ng-bind="investmentProject.lastRepaymentDate">2015-09-03</span>到期</span>
		                        </span>
		                    </span>
						</div>
						<!-- <div class="col-xs-6 text-right">
							<span class="icon-group">
		                        <span class="icon icon-clock-nine icon-horizontal icon-sm"></span>
		                        <span class="icon-txt text-primary"><span ng-bind="investmentProject.lastRepaymentDate">2015-09-03</span>到期</span>
		                    </span>
						</div> -->
					</div>
				</div>
			</li>
		</ul>
		<!-- 已结束列表 -->
		<ul class="list-group menu my-invest-tabcontent" ng-repeat="investmentProject in investmentFinishedList | orderBy:sortField:reverse" ui-if="activeTab == 3"  ng-click="detail(investmentProject,3)">
			<li class="list-group-item my-invest-tabcontent-header">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 hs-margin-top-3">
                            <span class="icon-group">
                                <span class="icon icon-hs-{{investmentProject.projectType}} icon-horizontal icon-md text-muted"></span>
                                <span class="icon-txt" ng-bind="investmentProject.projectName">
                                </span>
                            </span>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="my-invest-column">
					<dl class="text-center">
						<dt>投资金额
							<small>(元)</small>
						</dt>
						<dd ng-bind="investmentProject.amount | number:2">600.089.33</dd>
					</dl>
					<dl class="text-center">
						<dt>已获收益
							<small>(元)</small>
						</dt>
						<dd ng-bind="investmentProject.receivedProfit | number:2">6089.33</dd>
					</dl>
					<dl class="text-center">
						<dt>待收收益
							<small>(元)</small>
						</dt>
						<dd  ng-bind="investmentProject.willProfit | number:2">6089.33</dd>
					</dl>
				</div>
			</li>
			<li class="list-group-item my-invest-date">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<span class="icon-group">
		                        <span class="icon icon-clock-three icon-horizontal icon-sm"></span>
		                        <span class="icon-txt text-success">
			                        <span ng-bind="investmentProject.opDt">2015-09-03</span>
			                        投资--
			                        <span ng-bind="investmentProject.lastRepaymentDate">2015-09-03</span>到期</span>
		                        </span>
		                    </span>
						</div>
						<!-- <div class="col-xs-6 text-right">
							<span class="icon-group">
		                        <span class="icon icon-clock-nine icon-horizontal icon-sm"></span>
		                        <span class="icon-txt text-success"><span ng-bind="investmentProject.lastRepaymentDate">2015-09-03</span>到期</span>
		                    </span>
						</div> -->
					</div>
				</div>
			</li>
		</ul>
		<div class="my-invest-tabcontent-empty text-center show" ui-if="(activeTab == 1 && {{investmentTenderingList.length <= 0}}) || (activeTab == 2 && {{investmentHoldingList.length <= 0}}) || (activeTab == 3 && {{investmentFinishedList.length <= 0}})">
            <span class="icon-group">
                <i class="icon icon-default icon-folder icon-vertical icon-x-lg"></i>
                <i class="icon-txt">暂时没有数据哦</i>
            </span>
		</div>
	</div>
</div>
<div ui-content-for="navbarAction">
    <span class="navbarRight" ng-click="myInvestSort=!myInvestSort">排序</span>
</div>
<div ui-content-for="modals">
	<div class="my-invest-sort" ng-show="myInvestSort">
	    <ul class="list-group">
	    	<li ng-click="sort('opDt')">投资日期<span ng-show="sortField=='opDt'" ng-bind="reverse?'↓':'↑'">↓</span></li>
	    	<li ng-click="sort('annualizedRate')">年化利率<span ng-show="sortField=='annualizedRate'" ng-bind="reverse?'↓':'↑'">↓</span></li>
	    	<li ng-click="sort('amount')">投资金额<span ng-show="sortField=='amount'" ng-bind="reverse?'↓':'↑'">↓</span></li>
	    	<li ng-click="sort('projectDuration')">项目期限<span ng-show="sortField=='projectDuration'" ng-bind="reverse?'↓':'↑'">↓</span></li>
	    </ul>
	</div>
</div>